In [1]:
import pandas as pd
import requests
import tweepy
import yaml 
import os
import json
import numpy as np

# Read PitchBook data in
## Start with companies that HAVE received VC funding. These are the 1 companies (VC investment =1)

In [11]:
vc_general_info_df = pd.read_excel("../data/raw/CA_VC_PitchBook/Company_General_Information.xlsx",header=6)
vc_general_info_df.head(2)
# interesting columns= Company ID (primary key), Description, Company Name, HQ Post Code, 
#Primary Industry Code, Primary Contact, Year Founded, Active Investors

,Company ID,Company Name,HQ Post Code,Description,Primary Industry Code,HQ Location,Ownership Status,Company Financing Status,Active Investors,Website,HQ Email,HQ Phone,Primary Contact,Primary Contact Title,Primary Contact Email,Primary Contact Phone,Year Founded,PitchBook Link
0,61743-97,ZypMedia,94102,Developer of an online advertisement platform ...,Social/Platform Software,"San Francisco, CA",Privately Held (backing),Venture Capital-Backed,"Sinclair Broadcast Group, Sinclair Digital Ven...",www.zypmedia.com,info@extend.tv,+1 (415) 894-9181,Mark Goldman,"Co-Founder, Board Member & Chief Executive Off...",mgoldman@extend.tv,+1 (415) 894-9181,2013.0,NaN
1,103815-64,Zype,10001,Developer of a cloud platform for video publis...,Social/Platform Software,"New York, NY",Privately Held (backing),Venture Capital-Backed,"Alpine Meridian, Berlin Ventures, Bill Dolan, ...",www.zype.com,contact@zype.com,NaN,Chris Bassolino,"Co-Founder, Chief Operating Officer & Director",NaN,NaN,2013.0,NaN

In [12]:
vc_general_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 18 columns):
Company ID                  1023 non-null object
Company Name                1022 non-null object
HQ Post Code                925 non-null object
Description                 1000 non-null object
Primary Industry Code       1000 non-null object
HQ Location                 998 non-null object
Ownership Status            1000 non-null object
Company Financing Status    1000 non-null object
Active Investors            966 non-null object
Website                     983 non-null object
HQ Email                    706 non-null object
HQ Phone                    705 non-null object
Primary Contact             980 non-null object
Primary Contact Title       980 non-null object
Primary Contact Email       871 non-null object
Primary Contact Phone       723 non-null object
Year Founded                970 non-null float64
PitchBook Link              0 non-null float64
dtypes: float64(2), object(16)
memory usage: 144.2+ KB

In [13]:
vc_last_financing_df = pd.read_excel("../data/raw/CA_VC_PitchBook/Last_Financing_Details.xlsx",header=6)
vc_last_financing_df .head(2)
# interesting columns = Company ID ( primary key), Company Name, Growth Rate, Size Multiple, last financing date,
# last financing Size, Last financing valuation, Last Financing Deal Type 2

# Note : Only want series A or later, filter OUT the seed rounds

,Company ID,Company Name,Revenue,Growth Rate,Size Multiple,Last Financing Date,Last Financing Deal Type,Last Financing Deal Type 2,Last Financing Size,Last Financing Valuation,...,Ownership Status,Company Financing Status,Financing Status Note,Active Investors,Acquirers,Primary Industry Code,Description,HQ Location,Website,PitchBook Link
0,61743-97,ZypMedia,NaN,0.000000,0.144068,2015-04-24,Early Stage VC,Series B,4.42,9.47,...,Privately Held (backing),Venture Capital-Backed,The company raised $4.42 million of Series B v...,"Sinclair Broadcast Group, Sinclair Digital Ven...",NaN,Social/Platform Software,Developer of an online advertisement platform ...,"San Francisco, CA",www.zypmedia.com,NaN
1,103815-64,Zype,NaN,0.919952,9.045216,2016-08-01,Seed Round,Seed,3.60,10.05,...,Privately Held (backing),Venture Capital-Backed,The company raised $3.6 million of seed ventur...,"Alpine Meridian, Berlin Ventures, Bill Dolan, ...",NaN,Social/Platform Software,Developer of a cloud platform for video publis...,"New York, NY",www.zype.com,NaN

In [14]:
vc_last_financing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 21 columns):
Company ID                     1023 non-null object
Company Name                   1022 non-null object
Revenue                        113 non-null float64
Growth Rate                    957 non-null float64
Size Multiple                  957 non-null float64
Last Financing Date            869 non-null datetime64[ns]
Last Financing Deal Type       994 non-null object
Last Financing Deal Type 2     585 non-null object
Last Financing Size            695 non-null float64
Last Financing Valuation       352 non-null float64
Last Financing Status          994 non-null object
Ownership Status               1000 non-null object
Company Financing Status       1000 non-null object
Financing Status Note          997 non-null object
Active Investors               966 non-null object
Acquirers                      1 non-null object
Primary Industry Code          1000 non-null object
Description                    1000 non-null object
HQ Location                    998 non-null object
Website                        983 non-null object
PitchBook Link                 0 non-null float64
dtypes: datetime64[ns](1), float64(6), object(14)
memory usage: 168.2+ KB

In [15]:
vc_company_financials_df = pd.read_excel("../data/raw/CA_VC_PitchBook/Public_Company_Financials.xlsx",header=6)
vc_company_financials_df.head(2)
# Interesting columns are NOTHING

,Company ID,Company Name,Exchange,Ticker,Fiscal Period,Revenue,Gross Profit,EBITDA,Net Income,Enterprise Value,Ownership Status,Company Financing Status,Last Financing Date,Last Financing Deal Type,Last Financing Size,PitchBook Link
0,61743-97,ZypMedia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Privately Held (backing),Venture Capital-Backed,2015-04-24,Early Stage VC,4.42,NaN
1,103815-64,Zype,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Privately Held (backing),Venture Capital-Backed,2016-08-01,Seed Round,3.60,NaN

In [16]:
vc_company_financials_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 16 columns):
Company ID                  1023 non-null object
Company Name                1022 non-null object
Exchange                    1 non-null object
Ticker                      1 non-null object
Fiscal Period               122 non-null object
Revenue                     113 non-null float64
Gross Profit                7 non-null float64
EBITDA                      19 non-null float64
Net Income                  28 non-null float64
Enterprise Value            2 non-null float64
Ownership Status            1000 non-null object
Company Financing Status    1000 non-null object
Last Financing Date         869 non-null datetime64[ns]
Last Financing Deal Type    994 non-null object
Last Financing Size         695 non-null float64
PitchBook Link              0 non-null float64
dtypes: datetime64[ns](1), float64(7), object(8)
memory usage: 128.2+ KB

In [17]:
vc_social_web_df =  pd.read_excel("../data/raw/CA_VC_PitchBook/Social_and_Web_Presence.xlsx",header=6)
vc_social_web_df.head(2)
# interesting columns = company id (primary key), company name, growth rate, size multiple, majestic referring domains
# facebook likes, Tiwtter followers, Employees, Total raised

,Company ID,Company Name,Growth Rate,Size Multiple,Compete Unique Visitors,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised,Primary Industry Code,Description,Active Investors,Company Financing Status,Ownership Status,HQ Location,Website,PitchBook Link
0,61743-97,ZypMedia,0.000000,0.144068,NaN,NaN,NaN,51.0,12.0,6.82,Social/Platform Software,Developer of an online advertisement platform ...,"Sinclair Broadcast Group, Sinclair Digital Ven...",Venture Capital-Backed,Privately Held (backing),"San Francisco, CA",www.zypmedia.com,NaN
1,103815-64,Zype,0.919952,9.045216,NaN,188.0,1904.0,8352.0,11.0,3.60,Social/Platform Software,Developer of a cloud platform for video publis...,"Alpine Meridian, Berlin Ventures, Bill Dolan, ...",Venture Capital-Backed,Privately Held (backing),"New York, NY",www.zype.com,NaN

In [18]:
vc_social_web_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 18 columns):
Company ID                    1023 non-null object
Company Name                  1022 non-null object
Growth Rate                   957 non-null float64
Size Multiple                 957 non-null float64
Compete Unique Visitors       0 non-null float64
Majestic Referring Domains    881 non-null float64
Facebook Likes                731 non-null float64
Twitter Followers             806 non-null float64
Employees                     839 non-null float64
Total Raised                  818 non-null float64
Primary Industry Code         1000 non-null object
Description                   1000 non-null object
Active Investors              966 non-null object
Company Financing Status      1000 non-null object
Ownership Status              1000 non-null object
HQ Location                   998 non-null object
Website                       983 non-null object
PitchBook Link                0 non-null float64
dtypes: float64(9), object(9)
memory usage: 144.2+ KB

# Join these four dataframes into one

In [202]:
vc_general_info_colDrop_df = vc_general_info_df[["Company ID", "Description", "Company Name", "HQ Post Code", "Primary Industry Code",
                                         "Primary Contact", "Year Founded", "Active Investors","HQ Location"]]

In [203]:
vc_last_financing_colDrop_df =vc_last_financing_df[["Company ID", "Growth Rate", "Size Multiple",
                                    "Last Financing Date","Last Financing Size","Last Financing Valuation",
                                                   "Last Financing Deal Type 2 "]]

In [204]:
vc_social_web_colDrop_df  =vc_social_web_df [["Company ID",  "Growth Rate", 
                                              "Size Multiple", "Majestic Referring Domains",
        "Facebook Likes", "Twitter Followers", "Employees", "Total Raised"]]

In [205]:
final_vc_df = vc_general_info_colDrop_df.merge(vc_last_financing_colDrop_df, on='Company ID').merge(vc_social_web_colDrop_df, 
                                                                                     on='Company ID')

In [206]:
final_vc_df .columns

Index(['Company ID', 'Description', 'Company Name', 'HQ Post Code',
       'Primary Industry Code', 'Primary Contact', 'Year Founded',
       'Active Investors', 'HQ Location', 'Growth Rate_x', 'Size Multiple_x',
       'Last Financing Date', 'Last Financing Size',
       'Last Financing Valuation', 'Last Financing Deal Type 2 ',
       'Growth Rate_y', 'Size Multiple_y', 'Majestic Referring Domains',
       'Facebook Likes', 'Twitter Followers', 'Employees', 'Total Raised'],
      dtype='object')

In [208]:
final_vc_df .drop([
                  'Growth Rate_y','Size Multiple_y'],axis=1,inplace=True)

In [209]:
final_vc_df.rename(columns={'Growth Rate_x':'Growth Rate',"Size Multiple_x":'Size Multiple',
                           "Company Name_x":"Company Name"},inplace=True) # rename cols

In [210]:
final_vc_df.head(2)

,Company ID,Description,Company Name,HQ Post Code,Primary Industry Code,Primary Contact,Year Founded,Active Investors,HQ Location,Growth Rate,Size Multiple,Last Financing Date,Last Financing Size,Last Financing Valuation,Last Financing Deal Type 2,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised
0,61743-97,Developer of an online advertisement platform ...,ZypMedia,94102,Social/Platform Software,Mark Goldman,2013.0,"Sinclair Broadcast Group, Sinclair Digital Ven...","San Francisco, CA",0.000000,0.144068,2015-04-24,4.42,9.47,Series B,NaN,NaN,51.0,12.0,6.82
1,103815-64,Developer of a cloud platform for video publis...,Zype,10001,Social/Platform Software,Chris Bassolino,2013.0,"Alpine Meridian, Berlin Ventures, Bill Dolan, ...","New York, NY",0.919952,9.045216,2016-08-01,3.60,10.05,Seed,188.0,1904.0,8352.0,11.0,3.60

### Filter out the seed rounds

In [211]:
final_vc_df['Last Financing Deal Type 2 '].unique()

array(['Series B', 'Seed', 'Series B2', nan, 'Series A', 'Series B1',
       'Series D', 'Series C', 'Series A1', 'Series E', 'Series A2',
       'Angel', 'Corporate', 'Senior Debt', 'Series 2', 'Series 1',
       'Add-on', 'Loan', 'Series CC', 'Series F', 'Acquisition Financing',
       'Series G', 'Revolving Credit Line', 'Series C3', 'Series 3',
       'Series AA', 'Series B3', 'Subordinated Debt', 'Series C1'], dtype=object)

In [212]:
final_vc_financeTypeFilter_df = final_vc_df.loc[(final_vc_df['Last Financing Deal Type 2 ']!='Seed') & 
                (final_vc_df['Last Financing Deal Type 2 ']!='Angel'),: ]

In [213]:
final_vc_financeTypeFilter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 844 entries, 0 to 1030
Data columns (total 20 columns):
Company ID                     836 non-null object
Description                    813 non-null object
Company Name                   835 non-null object
HQ Post Code                   760 non-null object
Primary Industry Code          813 non-null object
Primary Contact                799 non-null object
Year Founded                   792 non-null float64
Active Investors               789 non-null object
HQ Location                    811 non-null object
Growth Rate                    780 non-null float64
Size Multiple                  780 non-null float64
Last Financing Date            693 non-null datetime64[ns]
Last Financing Size            558 non-null float64
Last Financing Valuation       292 non-null float64
Last Financing Deal Type 2     398 non-null object
Majestic Referring Domains     723 non-null float64
Facebook Likes                 601 non-null float64
Twitter Followers              650 non-null float64
Employees                      691 non-null float64
Total Raised                   667 non-null float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 138.5+ KB

In [214]:
final_vc_financeTypeFilter_df.head(2)

,Company ID,Description,Company Name,HQ Post Code,Primary Industry Code,Primary Contact,Year Founded,Active Investors,HQ Location,Growth Rate,Size Multiple,Last Financing Date,Last Financing Size,Last Financing Valuation,Last Financing Deal Type 2,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised
0,61743-97,Developer of an online advertisement platform ...,ZypMedia,94102,Social/Platform Software,Mark Goldman,2013.0,"Sinclair Broadcast Group, Sinclair Digital Ven...","San Francisco, CA",0.0,0.144068,2015-04-24,4.42,9.47,Series B,NaN,NaN,51.0,12.0,6.82
2,60184-09,Developer of non-invasive sensors for laborato...,Zyomed,91011,Diagnostic Equipment,Sandeep Gulati,2007.0,"Khosla Ventures, Samsung Electronics","La Cañada Flintridge, CA",0.0,0.054054,2016-05-17,10.61,132.61,Series B2,2.0,NaN,NaN,NaN,23.11

# Drop companies missing the zip code, year founded, and primary contact
- Can't impute this

In [215]:
final_vc_dropFinanceZipYear_df = final_vc_financeTypeFilter_df.loc[
    (final_vc_financeTypeFilter_df['HQ Post Code'].isnull()==False) &
    (final_vc_financeTypeFilter_df['Year Founded'].isnull()==False) &
    (final_vc_financeTypeFilter_df['Primary Contact'].isnull()==False),: ]

In [216]:
final_vc_dropFinanceZipYear_df .info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 733 entries, 0 to 1021
Data columns (total 20 columns):
Company ID                     733 non-null object
Description                    733 non-null object
Company Name                   733 non-null object
HQ Post Code                   733 non-null object
Primary Industry Code          733 non-null object
Primary Contact                733 non-null object
Year Founded                   733 non-null float64
Active Investors               713 non-null object
HQ Location                    733 non-null object
Growth Rate                    709 non-null float64
Size Multiple                  709 non-null float64
Last Financing Date            635 non-null datetime64[ns]
Last Financing Size            518 non-null float64
Last Financing Valuation       272 non-null float64
Last Financing Deal Type 2     366 non-null object
Majestic Referring Domains     656 non-null float64
Facebook Likes                 555 non-null float64
Twitter Followers              598 non-null float64
Employees                      648 non-null float64
Total Raised                   614 non-null float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 120.3+ KB

In [217]:
final_vc_dropFinanceZipYear_df .describe()

,Year Founded,Growth Rate,Size Multiple,Last Financing Size,Last Financing Valuation,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised
count,733.000000,709.000000,709.000000,518.000000,272.000000,656.000000,5.550000e+02,598.000000,648.000000,614.000000
mean,2009.028649,0.428218,80.120564,25.845000,237.640882,1941.554878,1.896565e+05,13760.147157,134.146605,62.852785
std,7.209625,1.262782,615.563496,121.737093,1179.235327,17991.973626,1.957759e+06,65343.708872,655.558765,602.658726
min,1903.000000,-6.928121,0.007453,0.010000,0.170000,1.000000,1.000000e+00,1.000000,1.000000,0.020000
25%,2007.000000,0.000000,0.873353,2.000000,16.057500,30.750000,2.150000e+02,216.500000,11.000000,3.440000
50%,2011.000000,0.042641,3.249337,6.000000,41.665000,115.500000,1.135000e+03,1098.000000,27.000000,11.185000
75%,2013.000000,0.511800,12.278546,16.000000,120.392500,424.500000,8.949500e+03,4656.250000,67.000000,36.325000
max,2016.000000,13.422807,13063.853941,2250.000000,18000.000000,440467.000000,4.187224e+07,769227.000000,12000.000000,14688.060000

# Impute missing values
- Growth Rate : impute median
- Size Multiple: imput median
- Last Financing Date : dont't really need this ( only need for angel companies)
- Last Financing Size : impute median
- Last Financing Valuation: Drop this ( too many nulls)
- Majestic Referring Domains: Impute Median
- Facebook Like: Impute median
- Twitter followers: impute emdian
- Employees: impute median
- Total raised: impute median

In [218]:
# first drop last financing valuation (not enough data)
final_vc_dropFinanceZipYear_df.drop(['Last Financing Valuation'],axis=1,inplace=True)

/Users/jonathanhilgart/anaconda/envs/nlp_founder/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [219]:
median_values={}
for row in final_vc_dropFinanceZipYear_df.describe(): # get median values
    if row =='Last Financing Valuation': # don't have enough data for this
        pass
    else:
        median_values[row]=final_vc_dropFinanceZipYear_df.describe()[row]["50%"]

In [220]:
median_values

{'Employees': 27.0,
 'Facebook Likes': 1135.0,
 'Growth Rate': 0.042640929986614687,
 'Last Financing Size': 6.0,
 'Majestic Referring Domains': 115.5,
 'Size Multiple': 3.2493367722918203,
 'Total Raised': 11.184999999999999,
 'Twitter Followers': 1098.0,
 'Year Founded': 2011.0}

In [221]:
imputed_final_df = final_vc_dropFinanceZipYear_df.copy()
for key in median_values: # update the nan values with the median
    updated_col = final_vc_dropFinanceZipYear_df.loc[:,key].copy()
    updated_col = updated_col.fillna(median_values[key])
    imputed_final_df.loc[:,key] = updated_col

In [222]:
imputed_final_df.head(2)

,Company ID,Description,Company Name,HQ Post Code,Primary Industry Code,Primary Contact,Year Founded,Active Investors,HQ Location,Growth Rate,Size Multiple,Last Financing Date,Last Financing Size,Last Financing Deal Type 2,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised
0,61743-97,Developer of an online advertisement platform ...,ZypMedia,94102,Social/Platform Software,Mark Goldman,2013.0,"Sinclair Broadcast Group, Sinclair Digital Ven...","San Francisco, CA",0.0,0.144068,2015-04-24,4.42,Series B,115.5,1135.0,51.0,12.0,6.82
2,60184-09,Developer of non-invasive sensors for laborato...,Zyomed,91011,Diagnostic Equipment,Sandeep Gulati,2007.0,"Khosla Ventures, Samsung Electronics","La Cañada Flintridge, CA",0.0,0.054054,2016-05-17,10.61,Series B2,2.0,1135.0,1098.0,27.0,23.11

### Add a 1 for the column VC_Invested

In [223]:
imputed_final_df['VC_invested']=1

In [224]:
imputed_final_df.head(20)

,Company ID,Description,Company Name,HQ Post Code,Primary Industry Code,Primary Contact,Year Founded,Active Investors,HQ Location,Growth Rate,Size Multiple,Last Financing Date,Last Financing Size,Last Financing Deal Type 2,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised,VC_invested
0,61743-97,Developer of an online advertisement platform ...,ZypMedia,94102,Social/Platform Software,Mark Goldman,2013.0,"Sinclair Broadcast Group, Sinclair Digital Ven...","San Francisco, CA",0.000000,0.144068,2015-04-24,4.42,Series B,115.5,1135.0,51.0,12.0,6.820,1
2,60184-09,Developer of non-invasive sensors for laborato...,Zyomed,91011,Diagnostic Equipment,Sandeep Gulati,2007.0,"Khosla Ventures, Samsung Electronics","La Cañada Flintridge, CA",0.000000,0.054054,2016-05-17,10.61,Series B2,2.0,1135.0,1098.0,27.0,23.110,1
3,97130-35,Developer of procedures to optimize microbes f...,Zymergen,94608,Other Business Products and Services,Zach Serber,2013.0,"5 Prime Ventures, AME Cloud Ventures, Andy War...","Emeryville, CA",0.632376,5.185677,2016-10-07,130.00,Series B,288.0,1135.0,911.0,200.0,176.140,1
4,52852-15,Provider of a channel data management cloud pl...,Zyme,94065,Media and Information Services (B2B),Chandran Sankaran,2004.0,"Artiman Ventures, Asiabio Zyme Solutions, Susq...","Redwood City, CA",4.139861,5.683374,2017-04-12,100.00,NaN,330.0,197.0,1300.0,501.0,13.100,1
5,108882-55,Provider of a B2B networking and routing platf...,Zycada Networks,95035,Application Software,Subbu Varadarajan,2014.0,"Alchemist Accelerator, Cervin Ventures, Chris ...","Milpitas, CA",0.000000,0.298939,2015-12-15,2.50,Series A,17.0,1135.0,49.0,7.0,2.500,1
6,62229-34,"Developer of animated, interactive learning ma...",Zyante,95031,Publishing,Smita Bakshi,2012.0,"Bialla Venture Partners, National Science Foun...","Los Gatos, CA",0.078953,0.760068,2016-02-10,4.00,Series A,115.5,612.0,267.0,32.0,4.000,1
7,52214-95,Developer of music creation software designed ...,Zya,91302,Multimedia and Design Software,Alberto Lomeli,2008.0,"Individual Investor, Intel Capital, Liberty Gl...","Calabasas, CA",0.192032,3.086235,2016-01-12,4.26,NaN,123.0,2269.0,1098.0,51.0,44.860,1
8,117491-32,Provider of interactive fitness entertainment ...,Zwift,90802,Entertainment Software,Eric Min,2014.0,"COLOPL, Max Levchin, Novator Partners, Samchul...","Long Beach, CA",0.143940,73.107156,2016-11-16,27.00,Series A,471.0,158746.0,24569.0,70.0,45.000,1
10,103593-34,Developer of a mobile-based browsing applicati...,Zurf,94107,Social/Platform Software,Shahin Shadfar,2013.0,"Bobby Yazdani, Geekdom SF, Signatures Capital","San Francisco, CA",-0.088942,0.479786,NaT,6.00,NaN,25.0,166.0,127.0,6.0,11.185,1
11,51251-95,Provider of an on-demand subscription billing ...,Zuora,94404,Other Software,Tyler Sloat,2007.0,"Benchmark Capital, BlackRock Private Equity Pa...","Foster City, CA",0.179027,41.123341,2016-06-01,6.00,NaN,2031.0,3827.0,17692.0,631.0,250.000,1
12,55336-69,Provider of a mobile and Web-based listing ser...,Zumper,94108,Social/Platform Software,Anthemos Georgiades,2012.0,"Andreessen Horowitz, Breyer Capital, CrunchFun...","San Francisco, CA",0.314371,66.864971,2016-10-18,17.65,Series B,3167.0,57829.0,8081.0,45.0,39.250,1
13,59948-02,Provider of a mobile device location and ident...,Zumigo,95110,Application Software,Chirag Bakshi,2008.0,"Aligned Partners, Capital One Growth Ventures,...","San Jose, CA",-0.009310,0.774813,2016-03-09,0.15,Series B1,38.0,1135.0,185.0,16.0,7.960,1
14,148845-52,Provider of pizza services with help of robots...,Zume Pizza,94043,Food Products,Julia Collins,2015.0,"AME Cloud Ventures, Kortschak Investments, Mav...","Mountain View, CA",1.171114,3.110912,2016-12-07,22.69,NaN,155.0,1986.0,562.0,27.0,22.690,1
15,103746-25,Provider of a cloud-based Human Resource softw...,Zuman,94588,Human Capital Services,Douglas Devlin,2012.0,NaN,"Pleasanton, CA",-0.378010,2.112238,2016-07-27,3.80,Series B,141.0,332.0,1098.0,55.0,13.720,1
16,104840-56,Provider of services in order to help startup ...,Zuma Ventures,90401,Other Commercial Services,David Carter,2014.0,"Aaron Hirschhorn, Burns Israelsen, Derek Smith...","Santa Monica, CA",0.131263,0.596335,2014-08-28,0.10,NaN,18.0,572.0,246.0,15.0,0.100,1
20,125763-49,Provider of an employee feedback platform. The...,Zugata,94306,Social/Platform Software,Philippe Van Nuijs,2014.0,"Canaan Partners, Formation 8, General Catalyst...","Palo Alto, CA",0.408153,2.269011,2016-11-14,7.00,Series A,140.0,1135.0,267.0,8.0,10.200,1
21,99142-57,Operator of a media and production agency. The...,Zuckerberg Media,94025,Information Services (B2C),Randi Zuckerberg,2011.0,"Katherine Barr, Kevin Colleran, Lerer Hippeau ...","Menlo Park, CA",0.042641,3.249337,2013-07-18,0.10,Series A,115.5,1135.0,1098.0,5.0,0.100,1
23,12758-05,Developer of advanced display technology inten...,zSpace,94085,Other Information Technology,Joseph Powers,2001.0,"Artiman Ventures, Columbia Capital, In-Q-Tel","Sunnyvale, CA",0.111599,10.623953,2015-10-01,30.00,Series D,97.0,7365.0,9941.0,85.0,87.190,1
24,55108-72,Provider of a cloud-based Security-as-a-Servic...,Zscaler,95134,Network Management Software,Jay Chaudhry,2008.0,"CapitalG, Dell Technologies Capital, EMC Ventu...","San Jose, CA",0.526655,40.134640,2015-08-03,110.00,Series D,2698.0,1950.0,4261.0,438.0,183.180,1
25,61833-43,Developer of rechargeable and alkaline batteri...,ZPower,93012,Alternative Energy Equipment,Damon Mikoy,1996.0,"Arsenal Venture Partners, Individual Investor,...","Camarillo, CA",-0.620073,2.752728,2015-10-23,7.48,NaN,184.0,332.0,230.0,74.0,127.420,1

# Tweepy to find usernames of the people

In [247]:
def username_search(name, company, state):
    """Run a search on twitter for the given name. Returns the first username (should be the most relevant).
    Looks to match a state location with the state locatio nof the company

    First try searching for the person's name + company. If that does not work, try just searching for the 
    person's name"""
    state = state.lower()
    
    credentials = yaml.load(open(os.path.expanduser('~/.ssh/api_credentials.yml')))
    auth = tweepy.OAuthHandler(credentials['twitter']['consumer_key'], credentials['twitter']['consumer_secret'],)
    auth.set_access_token(credentials['twitter']['token'], credentials['twitter']['token_secret'])
    api = tweepy.API(auth,wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
    tweets = api.search_users(q=str(name)+" "+str(company))
    
    screen_name = None
    try: # search the name and the company
        tweets[0].screen_name
        for result in tweets:
            if state in result.location.lower().split(" "):
                return result.screen_name
            
    except Exception as e: # try just the name
        try:

            tweets = api.search_users(q=name)
            for result in tweets:
                if state in result.location.lower():
                    screen_name = result.screen_name
            

        except Exception as e:
            print(e)
            return "NaN"

### Test the accuracy of this api for finding usernames

In [239]:
test_names = ['Jonathan Hilgart None CA','Tim Cook Apple CA', "Smita Bakshi Zyante CA","Rob Fuggetta zuberance CA",
              "Charles Hogan tranzlogic CA", 
              "Duke Chung travelbank CA", "Jake Fields treeline CA","Eric Min Zwift CA","Dominic Lewis Transifex CA",
             "Dimitris Glezos Transifex CA"]
names_username = {"Jonathan Hilgart":"topofthehil",'Tim Cook':"tim_cook", "Smita Bakshi":"sbaksh",
                 "Rob Fuggetta":"robfuggetta", "Charles Hogan":"Tranzlogic",
                 "Duke Chung":"Duke_Chung", "Jake Fields":"JakeFields","Eric Min":"werkdodger",
                  "Dominic Lewis":"domwlewis", " Dominic Lewis":"glezos"}

In [240]:
test_search= {}
for name in test_names:
    first,last,company,state = name.split(" ")
    result = username_search(first+" "+last,company,state)
    print(result)
    test_search[name]=result

topofthehil
TimTheCookApple
sbaksh
list index out of range
NaN
charleshogan54
Duke_Chung
JakeFields
None
domwlewis
None

In [241]:
username_intersection = set(test_search.values()).intersection(set(names_username.values()))

In [242]:
len(username_intersection)/len(names_username.keys())

0.5

In [243]:
test_search

{'Charles Hogan tranzlogic CA': 'charleshogan54',
 'Dimitris Glezos Transifex CA': None,
 'Dominic Lewis Transifex CA': 'domwlewis',
 'Duke Chung travelbank CA': 'Duke_Chung',
 'Eric Min Zwift CA': None,
 'Jake Fields treeline CA': 'JakeFields',
 'Jonathan Hilgart None CA': 'topofthehil',
 'Rob Fuggetta zuberance CA': 'NaN',
 'Smita Bakshi Zyante CA': 'sbaksh',
 'Tim Cook Apple CA': 'TimTheCookApple'}

#### Decent! About 50% accuracy in finding twitter handles

### Add the Twitter username to the pandas df for the VC dataframe

In [ ]:
twitter_usernames_vc_df = []
for idx,row in enumerate(imputed_final_df.iterrows()):
    location = row[1]['HQ Location'].split(",")[1].strip(" ")
    company = row[1]['Company Name']
    founder = row[1]['Primary Contact']

    twitter_usernames_vc_df.append(username_search(founder,company, location ))
    if idx%100 ==0:
        print(f"Finished {idx}")

Rate limit reached. Sleeping for: 198
Finished 0
Finished 100
Finished 200
Finished 300
Finished 400
Rate limit reached. Sleeping for: 740

In [ ]:
imputed_final_df['Twitter_Username'] = twitter_usernames_vc_df

In [ ]:
imputed_final_df.head(20)

## Drop NaN Usernames
- Also, drop last financing Date and last financing deal type 2 (don't need for the VC round)

In [59]:
final_vc_df = imputed_final_df[ (imputed_final_df.Twitter_Username!='NaN') |(imputed_final_df.Twitter_Username!='None') ]

In [53]:
imputed_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 733 entries, 0 to 1021
Data columns (total 21 columns):
Company ID                     733 non-null object
Description                    733 non-null object
Company Name                   733 non-null object
HQ Post Code                   733 non-null object
Primary Industry Code          733 non-null object
Primary Contact                733 non-null object
Year Founded                   733 non-null float64
Active Investors               713 non-null object
Growth Rate                    733 non-null float64
Size Multiple                  733 non-null float64
Last Financing Date            635 non-null datetime64[ns]
Last Financing Size            733 non-null float64
Last Financing Deal Type 2     366 non-null object
Company Name                   733 non-null object
Majestic Referring Domains     733 non-null float64
Facebook Likes                 733 non-null float64
Twitter Followers              733 non-null float64
Employees                      733 non-null float64
Total Raised                   733 non-null float64
VC_invested                    733 non-null int64
Twitter_Username               733 non-null object
dtypes: datetime64[ns](1), float64(9), int64(1), object(10)
memory usage: 126.0+ KB

In [54]:
final_vc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 644 entries, 0 to 1021
Data columns (total 21 columns):
Company ID                     644 non-null object
Description                    644 non-null object
Company Name                   644 non-null object
HQ Post Code                   644 non-null object
Primary Industry Code          644 non-null object
Primary Contact                644 non-null object
Year Founded                   644 non-null float64
Active Investors               630 non-null object
Growth Rate                    644 non-null float64
Size Multiple                  644 non-null float64
Last Financing Date            556 non-null datetime64[ns]
Last Financing Size            644 non-null float64
Last Financing Deal Type 2     320 non-null object
Company Name                   644 non-null object
Majestic Referring Domains     644 non-null float64
Facebook Likes                 644 non-null float64
Twitter Followers              644 non-null float64
Employees                      644 non-null float64
Total Raised                   644 non-null float64
VC_invested                    644 non-null int64
Twitter_Username               644 non-null object
dtypes: datetime64[ns](1), float64(9), int64(1), object(10)
memory usage: 110.7+ KB

In [61]:
final_vc_df .head()

,Company ID,Description,Company Name,HQ Post Code,Primary Industry Code,Primary Contact,Year Founded,Active Investors,Growth Rate,Size Multiple,Last Financing Size,Company Name,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised,VC_invested,Twitter_Username
0,61743-97,Developer of an online advertisement platform ...,ZypMedia,94102,Social/Platform Software,Mark Goldman,2013.0,"Sinclair Broadcast Group, Sinclair Digital Ven...",0.000000,0.144068,4.42,ZypMedia,115.5,1135.0,51.0,12.0,6.82,1,mgoldman
2,60184-09,Developer of non-invasive sensors for laborato...,Zyomed,91011,Diagnostic Equipment,Sandeep Gulati,2007.0,"Khosla Ventures, Samsung Electronics",0.000000,0.054054,10.61,Zyomed,2.0,1135.0,1098.0,27.0,23.11,1,Sandeepgulati16
3,97130-35,Developer of procedures to optimize microbes f...,Zymergen,94608,Other Business Products and Services,Zach Serber,2013.0,"5 Prime Ventures, AME Cloud Ventures, Andy War...",0.632376,5.185677,130.00,Zymergen,288.0,1135.0,911.0,200.0,176.14,1,ZachSerber
4,52852-15,Provider of a channel data management cloud pl...,Zyme,94065,Media and Information Services (B2B),Chandran Sankaran,2004.0,"Artiman Ventures, Asiabio Zyme Solutions, Susq...",4.139861,5.683374,100.00,Zyme,330.0,197.0,1300.0,501.0,13.10,1,chandransank
6,62229-34,"Developer of animated, interactive learning ma...",Zyante,95031,Publishing,Smita Bakshi,2012.0,"Bialla Venture Partners, National Science Foun...",0.078953,0.760068,4.00,Zyante,115.5,612.0,267.0,32.0,4.00,1,sbaksh

In [57]:
final_vc_df .tail()

,Company ID,Description,Company Name,HQ Post Code,Primary Industry Code,Year Founded,Active Investors,Growth Rate,Size Multiple,Last Financing Size,Company Name,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised,VC_invested,Twitter_Username
1017,58446-37,Provider of a navigation system for reducing X...,Translucent Medical,95060,Other Healthcare Technology Systems,2011.0,NaN,0.042641,3.249337,6.00,Translucent Medical,115.5,1135.0,1098.0,27.0,11.185,1,danwallace_
1018,90366-58,Provider of a cloud-based platform for continu...,Translation Exchange,94105,Social/Platform Software,2014.0,"Amplify.LA, Canyon Creek Capital, HillsVen Cap...",3.822225,0.555332,6.00,Translation Exchange,8.0,200.0,506.0,11.0,2.000,1,micberk
1019,44158-96,Manufacturer of semiconductor testing equipmen...,Translarity,94538,Other Semiconductors,2005.0,"Applied Ventures, Intel Capital, KT Venture Gr...",0.000000,0.216216,5.29,Translarity,8.0,1135.0,1098.0,11.0,35.270,1,Backmarker
1020,95609-35,Provider of a real-time transportation display...,TransitScreen,20005,Application Software,2013.0,"1776, Alex Bresler, BallstonBID LaunchPad, Bru...",0.135018,3.438100,0.70,TransitScreen,65.0,774.0,3278.0,18.0,2.170,1,MattCaywood
1021,61382-89,"Provider of a cloud-based, open-source transla...",Transifex,94025,Application Software,2009.0,"Arafura Ventures, Georgios Papadopoulos, Ilya ...",0.110816,365.999512,6.00,Transifex,26806.0,2096.0,1870.0,72.0,6.700,1,glezos

In [58]:
final_vc_df.to_csv("../data/processed/PitchBook_CA_VCInvest=1.csv")