In [205]:
import pandas as pd
import datetime
import yaml
import os
import tweepy

# Read in Data

In [12]:
acc_incub_general_info_df = pd.read_excel("../data/raw/CA_Accel-Incub-Seed_PitchBook/Company_General_Information.xlsx",header=6)
acc_incub_general_info_df.head(2)
# interesting columns= Company ID (primary key), Description, Company Name, HQ Post Code, 
#Primary Industry Code, Primary Contact, Year Founded, Active Investors

,Company ID,Company Name,HQ Post Code,Description,Primary Industry Code,HQ Location,Ownership Status,Company Financing Status,Active Investors,Website,HQ Email,HQ Phone,Primary Contact,Primary Contact Title,Primary Contact Email,Primary Contact Phone,Year Founded,PitchBook Link
0,170123-59,Zyudly Labs,94306,Provider of cyber-security analytics and intel...,Network Management Software,"Palo Alto, CA",Privately Held (backing),Accelerator/Incubator Backed,"500 Startups, Start Smart Labs",www.zyudlylabs.com,info@zyudlylabs.com,NaN,Vivek Ganesan,"Co-Founder, Chief Executive Officer & Board Me...",vivek@zyudlylabs.com,NaN,2016.0,NaN
1,103815-46,Zymr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
acc_incub_last_financing_df = pd.read_excel("../data/raw/CA_Accel-Incub-Seed_PitchBook/Last_Financing_Details.xlsx",header=6)
acc_incub_last_financing_df .head(2)
# interesting columns = Company ID ( primary key), Company Name, Growth Rate, Size Multiple, last financing date,
# last financing Size, Last financing valuation, Last Financing Deal Type 2

# Note : Only want series A or later, filter OUT the seed rounds

,Company ID,Company Name,Revenue,Growth Rate,Size Multiple,Last Financing Date,Last Financing Deal Type,Last Financing Deal Type 2,Last Financing Size,Last Financing Valuation,...,Ownership Status,Company Financing Status,Financing Status Note,Active Investors,Acquirers,Primary Industry Code,Description,HQ Location,Website,PitchBook Link
0,170123-59,Zyudly Labs,NaN,0.118048,0.469278,2017-02-08,Accelerator/Incubator,NaN,0.15,2.5,...,Privately Held (backing),Accelerator/Incubator Backed,The company joined 500 Startups as a part of i...,"500 Startups, Start Smart Labs",NaN,Network Management Software,Provider of cyber-security analytics and intel...,"Palo Alto, CA",www.zyudlylabs.com,NaN
1,103815-46,Zymr,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
acc_incub_company_financials_df = pd.read_excel("../data/raw/CA_Accel-Incub-Seed_PitchBook/Public_Company_Financials.xlsx",header=6)
acc_incub_company_financials_df.head(2)
# Interesting columns are NOTHING

,Company ID,Company Name,Exchange,Ticker,Fiscal Period,Revenue,Gross Profit,EBITDA,Net Income,Enterprise Value,Ownership Status,Company Financing Status,Last Financing Date,Last Financing Deal Type,Last Financing Size,PitchBook Link
0,170123-59,Zyudly Labs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Privately Held (backing),Accelerator/Incubator Backed,2017-02-08,Accelerator/Incubator,0.15,NaN
1,103815-46,Zymr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [11]:
acc_incub_social_web_df =  pd.read_excel("../data/raw/CA_Accel-Incub-Seed_PitchBook/Social_and_Web_Presence.xlsx",header=6)
acc_incub_social_web_df.head(2)
# interesting columns = company id (primary key), company name, growth rate, size multiple, majestic referring domains
# facebook likes, Tiwtter followers, Employees, Total raised

,Company ID,Company Name,Growth Rate,Size Multiple,Compete Unique Visitors,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised,Primary Industry Code,Description,Active Investors,Company Financing Status,Ownership Status,HQ Location,Website,PitchBook Link
0,170123-59,Zyudly Labs,0.118048,0.469278,NaN,29.0,103.0,6.0,NaN,0.37,Network Management Software,Provider of cyber-security analytics and intel...,"500 Startups, Start Smart Labs",Accelerator/Incubator Backed,Privately Held (backing),"Palo Alto, CA",www.zyudlylabs.com,NaN
1,103815-46,Zymr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Join Dataframes together

In [218]:
acc_incub_general_info_colDrop_df = acc_incub_general_info_df[["Company ID", "Description", "Company Name", "HQ Post Code", "Primary Industry Code",
                                         "Primary Contact", "Year Founded", "Active Investors","HQ Location"]]
acc_incub_last_financing_colDrop_df =acc_incub_last_financing_df [["Company ID", "Growth Rate", "Size Multiple",
                                    "Last Financing Date","Last Financing Size","Last Financing Valuation",
                                                   "Last Financing Deal Type 2 "]]
acc_incub_social_web_colDrop_df  =acc_incub_social_web_df [["Company ID",  "Growth Rate", 
                                              "Size Multiple", "Majestic Referring Domains",
        "Facebook Likes", "Twitter Followers", "Employees", "Total Raised"]]
final_acc_incub_df = acc_incub_general_info_colDrop_df.merge(acc_incub_last_financing_colDrop_df, on='Company ID').merge(acc_incub_social_web_colDrop_df, 
                                                                                     on='Company ID')

In [15]:
final_acc_incub_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1195 entries, 0 to 1194
Data columns (total 22 columns):
Company ID                     1187 non-null object
Description                    1000 non-null object
Company Name                   1186 non-null object
HQ Post Code                   804 non-null object
Primary Industry Code          1000 non-null object
Primary Contact                956 non-null object
Year Founded                   935 non-null float64
Active Investors               681 non-null object
HQ Location                    1000 non-null object
Growth Rate_x                  897 non-null float64
Size Multiple_x                897 non-null float64
Last Financing Date            874 non-null datetime64[ns]
Last Financing Size            655 non-null float64
Last Financing Valuation       119 non-null float64
Last Financing Deal Type 2     547 non-null object
Growth Rate_y                  897 non-null float64
Size Multiple_y                897 non-null float64
Majestic Referring Domains     828 non-null float64
Facebook Likes                 596 non-null float64
Twitter Followers              678 non-null float64
Employees                      418 non-null float64
Total Raised                   683 non-null float64
dtypes: datetime64[ns](1), float64(12), object(9)
memory usage: 214.7+ KB

## Drop Excess Columns

In [16]:
final_acc_incub_df .drop([
                  'Growth Rate_y','Size Multiple_y'],axis=1,inplace=True)
final_acc_incub_df.rename(columns={'Growth Rate_x':'Growth Rate',"Size Multiple_x":'Size Multiple',
                           "Company Name_x":"Company Name"},inplace=True) # rename cols

# Filter out Series A-F Rounds

In [17]:
final_acc_incub_df['Last Financing Deal Type 2 '].unique()

array([nan, 'Angel', 'Seed', 'Series A', 'Series AA', 'Series B',
       'Series A1', 'Series 2', 'Series A2', 'Series B1', 'Series C',
       'Acquisition Financing', 'Corporate', 'Series A3'], dtype=object)

In [26]:
final_acc_incub_filter_df= final_acc_incub_df.loc[(final_acc_incub_df['Last Financing Deal Type 2 ']!='Series A') & 
                (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series AA') &
                   (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series B') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series A1') &
             (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series 2') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series A2') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series B1') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series C') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series A3'),: ]

In [27]:
final_acc_incub_filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1137 entries, 0 to 1194
Data columns (total 20 columns):
Company ID                     1129 non-null object
Description                    942 non-null object
Company Name                   1128 non-null object
HQ Post Code                   749 non-null object
Primary Industry Code          942 non-null object
Primary Contact                898 non-null object
Year Founded                   881 non-null float64
Active Investors               647 non-null object
HQ Location                    942 non-null object
Growth Rate                    844 non-null float64
Size Multiple                  844 non-null float64
Last Financing Date            819 non-null datetime64[ns]
Last Financing Size            606 non-null float64
Last Financing Valuation       89 non-null float64
Last Financing Deal Type 2     489 non-null object
Majestic Referring Domains     777 non-null float64
Facebook Likes                 564 non-null float64
Twitter Followers              638 non-null float64
Employees                      386 non-null float64
Total Raised                   628 non-null float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 186.5+ KB

# Drop companies missing the zip code, year founded, and primary contact
- ALso drop if we don't have the last financing date. Need this to determine the 'runway' for each company
- Also drop if don't have the last financing size. Need this to calculate 'runway"
- Can't impute this

In [32]:
final_acc_incub_filter_df = final_acc_incub_filter_df.loc[
    (final_acc_incub_filter_df['HQ Post Code'].isnull()==False) &
    (final_acc_incub_filter_df['Year Founded'].isnull()==False) &
    (final_acc_incub_filter_df['Primary Contact'].isnull()==False) &
    (final_acc_incub_filter_df['Last Financing Date'].isnull()==False)  &
    (final_acc_incub_filter_df['Last Financing Size'].isnull()==False),: ]

In [33]:
final_acc_incub_filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 1179
Data columns (total 20 columns):
Company ID                     463 non-null object
Description                    463 non-null object
Company Name                   463 non-null object
HQ Post Code                   463 non-null object
Primary Industry Code          463 non-null object
Primary Contact                463 non-null object
Year Founded                   463 non-null float64
Active Investors               248 non-null object
HQ Location                    463 non-null object
Growth Rate                    409 non-null float64
Size Multiple                  409 non-null float64
Last Financing Date            463 non-null datetime64[ns]
Last Financing Size            463 non-null float64
Last Financing Valuation       59 non-null float64
Last Financing Deal Type 2     301 non-null object
Majestic Referring Domains     380 non-null float64
Facebook Likes                 277 non-null float64
Twitter Followers              318 non-null float64
Employees                      202 non-null float64
Total Raised                   428 non-null float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 76.0+ KB

# Impute missing values
- Growth Rate : impute median
- Size Multiple: imput median
- Last Financing Size : impute median
- Last Financing Valuation: Drop this ( too many nulls)
- Majestic Referring Domains: Impute Median
- Facebook Like: Impute median
- Twitter followers: impute emdian
- Employees: impute median (even though we will use this to calculate VC invest = 0, 7 employees is conservative)
- Total raised: impute median

In [36]:
final_acc_incub_filter_df.describe()

,Year Founded,Growth Rate,Size Multiple,Last Financing Size,Last Financing Valuation,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised
count,463.000000,409.000000,409.000000,463.000000,59.000000,380.000000,2.770000e+02,318.000000,202.000000,428.000000
mean,2011.384449,0.114040,13.366262,0.992743,3.487458,255.634211,3.139754e+04,6192.440252,12.836634,1.604042
std,6.530907,0.736849,89.906664,2.354893,3.587065,2134.617182,1.977533e+05,29273.074244,22.182823,3.746791
min,1906.000000,-4.113173,0.002825,0.010000,0.250000,1.000000,1.000000e+00,1.000000,1.000000,0.010000
25%,2011.000000,-0.008218,0.270270,0.090000,1.710000,8.000000,1.560000e+02,85.500000,3.250000,0.120000
50%,2013.000000,0.000000,0.906016,0.300000,2.500000,25.000000,8.160000e+02,425.500000,7.000000,0.465000
75%,2014.000000,0.077603,3.731261,1.000000,4.260000,68.000000,4.185000e+03,1789.500000,11.000000,1.500000
max,2017.000000,6.007684,1498.019287,28.590000,20.320000,38824.000000,2.502721e+06,304832.000000,227.000000,45.960000

In [34]:
median_values={}
for row in final_acc_incub_filter_df.describe(): # get median values
    if row =='Last Financing Valuation': # don't have enough data for this
        pass
    else:
        median_values[row]=final_acc_incub_filter_df.describe()[row]["50%"]

In [35]:
median_values

{'Employees': 7.0,
 'Facebook Likes': 816.0,
 'Growth Rate': 0.0,
 'Last Financing Size': 0.29999999999999999,
 'Majestic Referring Domains': 25.0,
 'Size Multiple': 0.90601639907093101,
 'Total Raised': 0.46499999999999997,
 'Twitter Followers': 425.5,
 'Year Founded': 2013.0}

In [37]:
imputed_final_df = final_acc_incub_filter_df.copy()
for key in median_values: # update the nan values with the median
    updated_col = final_acc_incub_filter_df.loc[:,key].copy()
    updated_col = updated_col.fillna(median_values[key])
    imputed_final_df.loc[:,key] = updated_col

In [40]:
imputed_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 1179
Data columns (total 20 columns):
Company ID                     463 non-null object
Description                    463 non-null object
Company Name                   463 non-null object
HQ Post Code                   463 non-null object
Primary Industry Code          463 non-null object
Primary Contact                463 non-null object
Year Founded                   463 non-null float64
Active Investors               248 non-null object
HQ Location                    463 non-null object
Growth Rate                    463 non-null float64
Size Multiple                  463 non-null float64
Last Financing Date            463 non-null datetime64[ns]
Last Financing Size            463 non-null float64
Last Financing Valuation       59 non-null float64
Last Financing Deal Type 2     301 non-null object
Majestic Referring Domains     463 non-null float64
Facebook Likes                 463 non-null float64
Twitter Followers              463 non-null float64
Employees                      463 non-null float64
Total Raised                   463 non-null float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 76.0+ KB

# Determine How many companies are past their 'runway'
- Read in the median family income for all CA counties
- Last Financing Size is based on millions of dollars
- i.e. have spend more then their funding for the past number of months for the number of employees

### Load in median income for palces in california

In [55]:
ca_income = pd.read_csv("../data/raw/median_income_tables/ca_income_by_county.csv")

In [56]:
ca_income.median_household_income[ca_income.median_household_income!="[7"].describe()

count        1442
unique       1385
top       $42,500
freq            4
Name: median_household_income, dtype: object

In [102]:
# For places without median income information, fill in with the median of CA

In [57]:
ca_income.median_household_income = ca_income.median_household_income.replace("[7","$42,500")

In [69]:
ca_income.median_household_income = \
    ca_income.median_household_income.apply( lambda x: int(x.strip("$").replace(",",""))) # conver to numbers

In [70]:
ca_income.median_household_income.describe()

count      1516.000000
mean      59873.567282
std       31285.114145
min        4853.000000
25%       39736.000000
50%       52148.000000
75%       74222.250000
max      245694.000000
Name: median_household_income, dtype: float64

#### Find the number of days since the offer
- Use the date the data was pulledd

In [159]:
date_pulled = datetime.datetime(2017,6,9)

In [160]:
imputed_final_df["days_since_offer"]=  imputed_final_df["Last Financing Date"].apply(
    lambda x: (date_pulled - x).days)

In [161]:
imputed_final_df["days_since_offer"].head()

0    121
2    240
3    750
5    902
8    134
Name: days_since_offer, dtype: int64

### Determine the number of days of 'runway' that the last financing size gives the company
- Based on the number of employees and median income of location

In [155]:
imputed_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 1179
Data columns (total 21 columns):
Company ID                     463 non-null object
Description                    463 non-null object
Company Name                   463 non-null object
HQ Post Code                   463 non-null object
Primary Industry Code          463 non-null object
Primary Contact                463 non-null object
Year Founded                   463 non-null float64
Active Investors               248 non-null object
HQ Location                    463 non-null object
Growth Rate                    463 non-null float64
Size Multiple                  463 non-null float64
Last Financing Date            463 non-null datetime64[ns]
Last Financing Size            463 non-null float64
Last Financing Valuation       59 non-null float64
Last Financing Deal Type 2     301 non-null object
Majestic Referring Domains     463 non-null float64
Facebook Likes                 463 non-null float64
Twitter Followers              463 non-null float64
Employees                      463 non-null float64
Total Raised                   463 non-null float64
days_since_offer               463 non-null int64
dtypes: datetime64[ns](1), float64(10), int64(1), object(9)
memory usage: 99.6+ KB

In [146]:
t = ca_income[ca_income.Place=="Mountain View"]['median_household_income'].values

In [217]:
vc_invest = []
for row in imputed_final_df.iterrows():
    row = row[1]
    place = row['HQ Location'].split(",")[0]
    state = row['HQ Location'].split(",")[1]
    try:
        # median year income
        median_yr_income = int(ca_income[ca_income.Place==place]['median_household_income'].values) 
        daily_income = median_yr_income/365
   
        daily_income_for_company = row['Employees'] * daily_income
        #print(row['Employees'],"employees")
        #print(daily_income_for_company ,'daily_income_for_company ')

        required_funding_total = daily_income_for_company * (row['days_since_offer'])
        #print(required_funding_total,'required_funding_total')
        # funding so far in dollars (from last fundraising round)
        funding_so_far = row['Last Financing Size']*1_000_000
        #print(funding_so_far,'funding_so_far')
        #print()
        if required_funding_total > funding_so_far:
            vc_invest.append(0)
        else:
            vc_invest.append('NaN')
    except Exception as e:
        if state == "CA":
            # median year income
            median_yr_income = int(ca_income[ca_income.Place==place]['median_household_income'].values[1]) 
            daily_income = median_yr_income/365
            daily_income_for_company = row['Employees'] * daily_income
            required_funding_total = daily_income_for_company *row['days_since_offer']
            funding_so_far = row['Last Financing Size']*1_000_000
            if required_funding_total < funding_so_far:
                vc_invest.append(0)
            else:
                vc_invest.append('NaN')
        else:
            vc_invest.append('NaN')

7.0 employees
2431.2246575342465 daily_income_for_company
294178.1835616438 required_funding_total
150000.0 funding_so_far

6.0 employees
1083.5506849315068 daily_income_for_company
812663.0136986302 required_funding_total
200000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
859430.5424657534 required_funding_total
120000.0 funding_so_far

7.0 employees
2501.435616438356 daily_income_for_company
335192.3726027397 required_funding_total
100000.0 funding_so_far

6.0 employees
1697.3753424657534 daily_income_for_company
1873902.3780821918 required_funding_total
750000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
3678442.906849315 required_funding_total
170000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1157417.589041096 required_funding_total
990000.0 funding_so_far

7.0 employees
1015.7095890410959 daily_income_for_company
722169.5178082192 required_funding_total
150000.0 funding_so_far

7.0 employees
1953.4794520547948 daily_income_for_company
142604.00000000003 required_funding_total
90000.0 funding_so_far

10.0 employees
1844.3835616438355 daily_income_for_company
1659945.205479452 required_funding_total
160000.0 funding_so_far

3.0 employees
1247.5561643835617 daily_income_for_company
4261651.8575342465 required_funding_total
500000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
3607937.3917808216 required_funding_total
30000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
662033.6301369863 required_funding_total
400000.0 funding_so_far

11.0 employees
1967.4328767123288 daily_income_for_company
678764.3424657534 required_funding_total
30000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
2105897.4520547944 required_funding_total
100000.0 funding_so_far

7.0 employees
1877.1698630136987 daily_income_for_company
777148.3232876712 required_funding_total
90000.0 funding_so_far

23.0 employees
5676.715068493151 daily_income_for_company
3349261.8904109593 required_funding_total
2000000.0 funding_so_far

1.0 employees
136.1150684931507 daily_income_for_company
236023.5287671233 required_funding_total
10000.0 funding_so_far

11.0 employees
2362.076712328767 daily_income_for_company
9077460.805479452 required_funding_total
1300000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
946978.0273972603 required_funding_total
120000.0 funding_so_far

12.0 employees
2576.8109589041096 daily_income_for_company
4643413.347945206 required_funding_total
100000.0 funding_so_far

7.0 employees
1252.0027397260274 daily_income_for_company
623497.3643835617 required_funding_total
130000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
3902150.7287671235 required_funding_total
90000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
408445.7424657534 required_funding_total
90000.0 funding_so_far

9.0 employees
3125.8602739726025 daily_income_for_company
4688790.410958904 required_funding_total
1000000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
805120.6301369863 required_funding_total
40000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
181879.90684931507 required_funding_total
150000.0 funding_so_far

6.0 employees
1480.882191780822 daily_income_for_company
777463.1506849315 required_funding_total
120000.0 funding_so_far

3.0 employees
540.4356164383562 daily_income_for_company
472881.16438356164 required_funding_total
200000.0 funding_so_far

7.0 employees
1799.6712328767126 daily_income_for_company
1488328.1095890412 required_funding_total
50000.0 funding_so_far

11.0 employees
2525.087671232877 daily_income_for_company
5542567.438356165 required_funding_total
600000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
330690.7397260274 required_funding_total
120000.0 funding_so_far

1.0 employees
336.6027397260274 daily_income_for_company
1068040.493150685 required_funding_total
300000.0 funding_so_far

7.0 employees
1429.4191780821918 daily_income_for_company
1878256.8 required_funding_total
330000.0 funding_so_far

4.0 employees
987.254794520548 daily_income_for_company
291240.16438356164 required_funding_total
10000.0 funding_so_far

6.0 employees
2083.9068493150685 daily_income_for_company
2427751.479452055 required_funding_total
1370000.0 funding_so_far

7.0 employees
1799.6712328767126 daily_income_for_company
561497.4246575343 required_funding_total
130000.0 funding_so_far

4.0 employees
1284.1205479452055 daily_income_for_company
48796.580821917814 required_funding_total
10000.0 funding_so_far

7.0 employees
851.1999999999999 daily_income_for_company
1773049.5999999999 required_funding_total
20000.0 funding_so_far

7.0 employees
2071.0602739726028 daily_income_for_company
173969.06301369864 required_funding_total
10000.0 funding_so_far

7.0 employees
2198.786301369863 daily_income_for_company
373793.6712328767 required_funding_total
10000.0 funding_so_far

7.0 employees
1630.13698630137 daily_income_for_company
2864150.684931507 required_funding_total
1000000.0 funding_so_far

7.0 employees
1426.8684931506848 daily_income_for_company
1168605.295890411 required_funding_total
600000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
710985.0904109589 required_funding_total
300000.0 funding_so_far

10.0 employees
2147.3424657534247 daily_income_for_company
601255.8904109589 required_funding_total
300000.0 funding_so_far

2.0 employees
272.2301369863014 daily_income_for_company
272774.597260274 required_funding_total
140000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
413517.57808219176 required_funding_total
30000.0 funding_so_far

99.0 employees
21258.690410958905 daily_income_for_company
7908232.832876713 required_funding_total
120000.0 funding_so_far

7.0 employees
1986.6767123287673 daily_income_for_company
854270.98630137 required_funding_total
360000.0 funding_so_far

7.0 employees
1429.4191780821918 daily_income_for_company
794757.0630136987 required_funding_total
180000.0 funding_so_far

4.0 employees
1478.0493150684931 daily_income_for_company
1469181.0191780822 required_funding_total
400000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
584721.3534246575 required_funding_total
130000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
921424.6520547945 required_funding_total
250000.0 funding_so_far

1.0 employees
214.73424657534247 daily_income_for_company
400479.3698630137 required_funding_total
10000.0 funding_so_far

7.0 employees
2217.945205479452 daily_income_for_company
5904170.136986301 required_funding_total
80000.0 funding_so_far

7.0 employees
1329.5972602739728 daily_income_for_company
86423.82191780824 required_funding_total
10000.0 funding_so_far

4.0 employees
898.1369863013699 daily_income_for_company
1182846.410958904 required_funding_total
20000.0 funding_so_far

7.0 employees
1358.6712328767123 daily_income_for_company
718737.0821917808 required_funding_total
680000.0 funding_so_far

7.0 employees
1953.4794520547948 daily_income_for_company
4532072.328767124 required_funding_total
1500000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
756527.5506849315 required_funding_total
600000.0 funding_so_far

22.0 employees
6732.723287671232 daily_income_for_company
10516513.775342464 required_funding_total
2350000.0 funding_so_far

11.0 employees
3083.7671232876714 daily_income_for_company
7558313.219178082 required_funding_total
200000.0 funding_so_far

5.0 employees
900.7260273972602 daily_income_for_company
1130411.1643835616 required_funding_total
440000.0 funding_so_far

7.0 employees
2724.649315068493 daily_income_for_company
1811891.7945205476 required_funding_total
180000.0 funding_so_far

7.0 employees
1564.0876712328768 daily_income_for_company
275279.4301369863 required_funding_total
10000.0 funding_so_far

11.0 employees
2525.087671232877 daily_income_for_company
1080737.5232876714 required_funding_total
30000.0 funding_so_far

6.0 employees
1225.2164383561644 daily_income_for_company
1356314.597260274 required_funding_total
200000.0 funding_so_far

7.0 employees
1675.5123287671233 daily_income_for_company
2908689.402739726 required_funding_total
30000.0 funding_so_far

3.0 employees
644.2027397260274 daily_income_for_company
1514520.6410958904 required_funding_total
60000.0 funding_so_far

7.0 employees
1606.8739726027397 daily_income_for_company
1367449.7506849314 required_funding_total
100000.0 funding_so_far

11.0 employees
1595.572602739726 daily_income_for_company
2428461.5013698633 required_funding_total
10000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
2346401.1123287673 required_funding_total
2000000.0 funding_so_far

7.0 employees
1606.8739726027397 daily_income_for_company
1079819.3095890412 required_funding_total
20000.0 funding_so_far

11.0 employees
2525.087671232877 daily_income_for_company
6709157.942465753 required_funding_total
2000000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
1007115.391780822 required_funding_total
20000.0 funding_so_far

12.0 employees
2146.290410958904 daily_income_for_company
1506695.8684931507 required_funding_total
30000.0 funding_so_far

2.0 employees
272.2301369863014 daily_income_for_company
395550.3890410959 required_funding_total
100000.0 funding_so_far

3.0 employees
756.1561643835616 daily_income_for_company
1456356.7726027397 required_funding_total
200000.0 funding_so_far

1.0 employees
214.73424657534247 daily_income_for_company
269062.0109589041 required_funding_total
30000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
540240.7068493151 required_funding_total
10000.0 funding_so_far

7.0 employees
1750.364383561644 daily_income_for_company
526859.6794520548 required_funding_total
20000.0 funding_so_far

9.0 employees
1932.6082191780822 daily_income_for_company
247373.85205479452 required_funding_total
20000.0 funding_so_far

3.0 employees
408.34520547945203 daily_income_for_company
1066597.6767123288 required_funding_total
730000.0 funding_so_far

4.0 employees
881.0849315068493 daily_income_for_company
1589477.216438356 required_funding_total
500000.0 funding_so_far

7.0 employees
2647.9753424657533 daily_income_for_company
9101091.252054794 required_funding_total
420000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
435910.5205479452 required_funding_total
120000.0 funding_so_far

3.0 employees
541.7753424657534 daily_income_for_company
676677.402739726 required_funding_total
200000.0 funding_so_far

1.0 employees
214.73424657534247 daily_income_for_company
227618.301369863 required_funding_total
200000.0 funding_so_far

7.0 employees
1075.6794520547944 daily_income_for_company
1548978.4109589038 required_funding_total
60000.0 funding_so_far

1.0 employees
214.73424657534247 daily_income_for_company
465973.31506849313 required_funding_total
100000.0 funding_so_far

7.0 employees
1980.2712328767122 daily_income_for_company
1427775.5589041095 required_funding_total
790000.0 funding_so_far

11.0 employees
2362.076712328767 daily_income_for_company
2298300.64109589 required_funding_total
750000.0 funding_so_far

7.0 employees
1429.4191780821918 daily_income_for_company
94341.66575342466 required_funding_total
10000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
468979.59452054795 required_funding_total
150000.0 funding_so_far

4.0 employees
1224.131506849315 daily_income_for_company
1761525.2383561642 required_funding_total
1100000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
860013.2109589041 required_funding_total
50000.0 funding_so_far

7.0 employees
1882.46301369863 daily_income_for_company
276722.0630136986 required_funding_total
270000.0 funding_so_far

16.0 employees
2882.3232876712327 daily_income_for_company
1694806.0931506848 required_funding_total
420000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
693642.3890410959 required_funding_total
50000.0 funding_so_far

7.0 employees

1561.9013698630138 daily_income_for_company
713788.9260273973 required_funding_total
610000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
1396812.8328767123 required_funding_total
390000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
3209203.315068493 required_funding_total
250000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
854969.1452054795 required_funding_total
150000.0 funding_so_far

7.0 employees
959.1534246575342 daily_income_for_company
328989.62465753424 required_funding_total
250000.0 funding_so_far

5.0 employees
1021.013698630137 daily_income_for_company
1966472.383561644 required_funding_total
30000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1025141.2931506849 required_funding_total
50000.0 funding_so_far

12.0 employees
2576.8109589041096 daily_income_for_company
2607732.690410959 required_funding_total
30000.0 funding_so_far

15.0 employees
5049.04109589041 daily_income_for_company
12844760.547945203 required_funding_total
3100000.0 funding_so_far

7.0 employees
1764.364383561644 daily_income_for_company
919233.8438356165 required_funding_total
200000.0 funding_so_far

5.0 employees
767.4657534246575 daily_income_for_company
296241.78082191775 required_funding_total
30000.0 funding_so_far

7.0 employees
1606.8739726027397 daily_income_for_company
1184266.1178082193 required_funding_total
30000.0 funding_so_far

7.0 employees
2071.0602739726028 daily_income_for_company
2872560.6 required_funding_total
1230000.0 funding_so_far

7.0 employees
1180.0849315068494 daily_income_for_company
1949500.3068493153 required_funding_total
30000.0 funding_so_far

1.0 employees
204.2027397260274 daily_income_for_company
159073.93424657534 required_funding_total
110000.0 funding_so_far

9.0 employees
2282.4 daily_income_for_company
687002.4 required_funding_total
500000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
368269.23287671234 required_funding_total
250000.0 funding_so_far

12.0 employees
2576.8109589041096 daily_income_for_company
1770269.1287671232 required_funding_total
50000.0 funding_so_far

8.0 employees
1717.8739726027397 daily_income_for_company
1362274.0602739726 required_funding_total
1100000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
847996.8767123288 required_funding_total
300000.0 funding_so_far

3.0 employees
411.0657534246575 daily_income_for_company
478891.60273972596 required_funding_total
230000.0 funding_so_far

3.0 employees
688.6602739726027 daily_income_for_company
527513.7698630136 required_funding_total
80000.0 funding_so_far

10.0 employees
2295.5342465753424 daily_income_for_company
5431234.02739726 required_funding_total
290000.0 funding_so_far

2.0 employees
429.46849315068494 daily_income_for_company
369772.3726027397 required_funding_total
100000.0 funding_so_far

7.0 employees
1743.3068493150683 daily_income_for_company
1159299.0547945204 required_funding_total
1000000.0 funding_so_far

15.0 employees
3702.205479452055 daily_income_for_company
2510095.315068493 required_funding_total
1440000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
927437.2109589041 required_funding_total
250000.0 funding_so_far

11.0 employees
3254.523287671233 daily_income_for_company
3397722.312328767 required_funding_total
1300000.0 funding_so_far

8.0 employees
1717.8739726027397 daily_income_for_company
541130.301369863 required_funding_total
40000.0 funding_so_far

7.0 employees
1264.1424657534246 daily_income_for_company
275583.0575342466 required_funding_total
210000.0 funding_so_far

7.0 employees
1015.7095890410959 daily_income_for_company
294555.7808219178 required_funding_total
120000.0 funding_so_far

16.0 employees
4896.52602739726 daily_income_for_company
6624999.715068493 required_funding_total
2000000.0 funding_so_far

55.0 employees
11810.383561643835 daily_income_for_company
14810220.98630137 required_funding_total
3400000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
401131.10684931505 required_funding_total
140000.0 funding_so_far

4.0 employees
1389.2712328767122 daily_income_for_company
2085296.1205479451 required_funding_total
1400000.0 funding_so_far

7.0 employees
860.9808219178082 daily_income_for_company
858397.8794520547 required_funding_total
10000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
453535.4082191781 required_funding_total
300000.0 funding_so_far

16.0 employees
3984.219178082192 daily_income_for_company
3785008.219178082 required_funding_total
2800000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
789148.3561643836 required_funding_total
120000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
162929.73698630137 required_funding_total
100000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
468979.59452054795 required_funding_total
130000.0 funding_so_far

7.0 employees
2216.027397260274 daily_income_for_company
826578.2191780822 required_funding_total
30000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
887397.0 required_funding_total
60000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
643343.802739726 required_funding_total
50000.0 funding_so_far

1.0 employees
246.813698630137 daily_income_for_company
148828.6602739726 required_funding_total
20000.0 funding_so_far

3.0 employees
644.2027397260274 daily_income_for_company
736967.9342465753 required_funding_total
50000.0 funding_so_far

11.0 employees
3254.523287671233 daily_income_for_company
1126065.0575342467 required_funding_total
1020000.0 funding_so_far

5.0 employees
1073.6712328767123 daily_income_for_company
1642716.98630137 required_funding_total
130000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
434407.3808219178 required_funding_total
130000.0 funding_so_far

7.0 employees
1023.8219178082192 daily_income_for_company
703365.6575342466 required_funding_total
370000.0 funding_so_far

7.0 employees
1941.7808219178082 daily_income_for_company
666030.8219178083 required_funding_total
650000.0 funding_so_far

7.0 employees
2535.1890410958904 daily_income_for_company
3949824.5260273973 required_funding_total
520000.0 funding_so_far

7.0 employees
2217.945205479452 daily_income_for_company
1120062.3287671232 required_funding_total
40000.0 funding_so_far

18.0 employees
3494.9589041095887 daily_income_for_company
6944483.342465753 required_funding_total
90000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
1220543.8191780823 required_funding_total
1000000.0 funding_so_far

7.0 employees
1718.2602739726026 daily_income_for_company
805864.0684931506 required_funding_total
340000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
2935593.682191781 required_funding_total
300000.0 funding_so_far

7.0 employees
3960.8109589041096 daily_income_for_company
3077550.115068493 required_funding_total
360000.0 funding_so_far

12.0 employees
3085.1506849315074 daily_income_for_company
4803579.616438357 required_funding_total
250000.0 funding_so_far

7.0 employees
1119.7123287671234 daily_income_for_company
452363.78082191787 required_funding_total
300000.0 funding_so_far

11.0 employees
2246.2301369863017 daily_income_for_company
3295219.6109589045 required_funding_total
600000.0 funding_so_far

51.0 employees
12214.290410958904 daily_income_for_company
8659931.901369862 required_funding_total
50000.0 funding_so_far

7.0 employees
1606.8739726027397 daily_income_for_company
1929855.6410958904 required_funding_total
50000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
936456.0493150685 required_funding_total
250000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1519674.2630136986 required_funding_total
280000.0 funding_so_far

7.0 employees
2014.2547945205479 daily_income_for_company
2791757.1452054796 required_funding_total
40000.0 funding_so_far

79.0 employees
16964.005479452055 daily_income_for_company
25174584.13150685 required_funding_total
1470000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
569689.9561643836 required_funding_total
50000.0 funding_so_far

7.0 employees
1764.364383561644 daily_income_for_company
2143702.7260273974 required_funding_total
200000.0 funding_so_far

11.0 employees
2362.076712328767 daily_income_for_company
2636077.610958904 required_funding_total
40000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
238999.21643835618 required_funding_total
20000.0 funding_so_far

1.0 employees
214.73424657534247 daily_income_for_company
274215.6328767123 required_funding_total
130000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1062719.7863013698 required_funding_total
100000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
413363.4246575342 required_funding_total
120000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
962333.5342465753 required_funding_total
600000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
1721287.4383561644 required_funding_total
400000.0 funding_so_far

2.0 employees
565.7917808219178 daily_income_for_company
624634.1260273972 required_funding_total
40000.0 funding_so_far

7.0 employees
1676.4712328767123 daily_income_for_company
342000.1315068493 required_funding_total
60000.0 funding_so_far

11.0 employees
2362.076712328767 daily_income_for_company
3330528.1643835614 required_funding_total
400000.0 funding_so_far

7.0 employees
1264.1424657534246 daily_income_for_company
394412.4493150685 required_funding_total
130000.0 funding_so_far

4.0 employees
720.5808219178082 daily_income_for_company
1447646.8712328766 required_funding_total
150000.0 funding_so_far

7.0 employees
1675.5123287671233 daily_income_for_company
966770.6136986301 required_funding_total
20000.0 funding_so_far

4.0 employees
816.8109589041096 daily_income_for_company
593821.5671232877 required_funding_total
50000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
965938.5917808219 required_funding_total
390000.0 funding_so_far

7.0 employees
1052.0520547945205 daily_income_for_company
446070.0712328767 required_funding_total
50000.0 funding_so_far

7.0 employees
1135.0164383561644 daily_income_for_company
422226.1150684931 required_funding_total
200000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
121754.31780821917 required_funding_total
120000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
1313979.1287671232 required_funding_total
10000.0 funding_so_far

35.0 employees
7515.698630136986 daily_income_for_company
17789658.657534245 required_funding_total
240000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
1621667.1397260274 required_funding_total
100000.0 funding_so_far

7.0 employees
1980.2712328767122 daily_income_for_company
2709011.0465753423 required_funding_total
780000.0 funding_so_far

3.0 employees
644.2027397260274 daily_income_for_company
459316.55342465756 required_funding_total
40000.0 funding_so_far

7.0 employees
2356.219178082192 daily_income_for_company
301596.05479452055 required_funding_total
100000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
3138669.915068493 required_funding_total
120000.0 funding_so_far

5.0 employees
680.5753424657535 daily_income_for_company
553988.3287671233 required_funding_total
200000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
880839.8794520549 required_funding_total
250000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1477586.3506849315 required_funding_total
880000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
636813.301369863 required_funding_total
500000.0 funding_so_far

51.0 employees
11260.520547945205 daily_income_for_company
9425055.698630137 required_funding_total
1500000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1772201.7369863014 required_funding_total
120000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
2163018.0657534245 required_funding_total
60000.0 funding_so_far

13.0 employees
1885.6767123287673 daily_income_for_company
3727982.860273973 required_funding_total
20000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
689941.1342465753 required_funding_total
20000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
858752.194520548 required_funding_total
250000.0 funding_so_far

14.0 employees
3528.728767123288 daily_income_for_company
8451305.397260275 required_funding_total
2000000.0 funding_so_far

30.0 employees
5365.726027397261 daily_income_for_company
3251629.97260274 required_funding_total
1000000.0 funding_so_far

7.0 employees
1750.364383561644 daily_income_for_company
691393.9315068494 required_funding_total
30000.0 funding_so_far

2.0 employees
420.33972602739726 daily_income_for_company
472461.8520547945 required_funding_total
30000.0 funding_so_far

7.0 employees
2501.435616438356 daily_income_for_company
505289.994520548 required_funding_total
360000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
842358.9808219178 required_funding_total

200000.0 funding_so_far

65.0 employees
8847.479452054795 daily_income_for_company
4928046.054794521 required_funding_total
3250000.0 funding_so_far

44.0 employees
8540.219178082192 daily_income_for_company
6097716.493150685 required_funding_total
1240000.0 funding_so_far

7.0 employees
1451.1671232876713 daily_income_for_company
412131.46301369864 required_funding_total
20000.0 funding_so_far

2.0 employees
272.2301369863014 daily_income_for_company
330215.1561643836 required_funding_total
280000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
946978.0273972603 required_funding_total
120000.0 funding_so_far

5.0 employees
680.5753424657535 daily_income_for_company
1570087.3150684931 required_funding_total
1000000.0 funding_so_far

7.0 employees
1520.668493150685 daily_income_for_company
2419383.57260274 required_funding_total
60000.0 funding_so_far

7.0 employees
1676.4712328767123 daily_income_for_company
8766268.076712329 required_funding_total
3200000.0 funding_so_far

7.0 employees
1986.6767123287673 daily_income_for_company
2505199.3342465754 required_funding_total
30000.0 funding_so_far

24.0 employees
4292.580821917808 daily_income_for_company
5258411.506849315 required_funding_total
40000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
181879.90684931507 required_funding_total
150000.0 funding_so_far

10.0 employees
2147.3424657534247 daily_income_for_company
2694914.794520548 required_funding_total
1200000.0 funding_so_far

7.0 employees
959.1534246575342 daily_income_for_company
533289.304109589 required_funding_total
500000.0 funding_so_far

17.0 employees
3650.482191780822 daily_income_for_company
3840307.2657534247 required_funding_total
150000.0 funding_so_far

7.0 employees
1429.4191780821918 daily_income_for_company
3868008.295890411 required_funding_total
1570000.0 funding_so_far

41.0 employees
9819.331506849316 daily_income_for_company
11233315.243835617 required_funding_total
5000000.0 funding_so_far

3.0 employees
644.2027397260274 daily_income_for_company
330476.0054794521 required_funding_total
50000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
1176714.7671232875 required_funding_total
30000.0 funding_so_far

11.0 employees
1967.4328767123288 daily_income_for_company
2890158.895890411 required_funding_total
250000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
601220.2575342465 required_funding_total
50000.0 funding_so_far

20.0 employees
6946.356164383561 daily_income_for_company
4278955.397260274 required_funding_total
810000.0 funding_so_far

5.0 employees
1073.6712328767123 daily_income_for_company
2248267.5616438356 required_funding_total
1090000.0 funding_so_far

11.0 employees
1352.9698630136986 daily_income_for_company
1516679.216438356 required_funding_total
40000.0 funding_so_far

7.0 employees
1727.695890410959 daily_income_for_company
957143.5232876713 required_funding_total
200000.0 funding_so_far

227.0 employees
52108.62739726027 daily_income_for_company
58882748.95890411 required_funding_total
2190000.0 funding_so_far

3.0 employees
621.9287671232877 daily_income_for_company
1813544.284931507 required_funding_total
40000.0 funding_so_far

7.0 employees
1015.7095890410959 daily_income_for_company
1336673.8191780823 required_funding_total
40000.0 funding_so_far

5.0 employees
894.2876712328767 daily_income_for_company
1015910.794520548 required_funding_total
100000.0 funding_so_far

4.0 employees
544.4602739726027 daily_income_for_company
477491.6602739726 required_funding_total
20000.0 funding_so_far

9.0 employees
3029.4246575342463 daily_income_for_company
3344484.821917808 required_funding_total
400000.0 funding_so_far

7.0 employees
1676.4712328767123 daily_income_for_company
2818148.1424657535 required_funding_total
10000.0 funding_so_far

6.0 employees
1775.1945205479453 daily_income_for_company
2265148.208219178 required_funding_total
530000.0 funding_so_far

3.0 employees
644.2027397260274 daily_income_for_company
448365.10684931505 required_funding_total
50000.0 funding_so_far

14.0 employees
3006.2794520547945 daily_income_for_company
1485102.0493150684 required_funding_total
1320000.0 funding_so_far

19.0 employees
3422.758904109589 daily_income_for_company
2433581.580821918 required_funding_total
880000.0 funding_so_far

7.0 employees
1980.2712328767122 daily_income_for_company
200007.39452054794 required_funding_total
40000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
2194311.0191780822 required_funding_total
30000.0 funding_so_far

7.0 employees
1261.0164383561644 daily_income_for_company
427484.57260273973 required_funding_total
10000.0 funding_so_far

11.0 employees
3018.6109589041093 daily_income_for_company
1509305.4794520547 required_funding_total
750000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
1474942.8821917807 required_funding_total
300000.0 funding_so_far

7.0 employees
1953.4794520547948 daily_income_for_company
4211701.698630137 required_funding_total
250000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
2505733.923287671 required_funding_total
150000.0 funding_so_far

31.0 employees
4219.567123287671 daily_income_for_company
4084540.9753424656 required_funding_total
500000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1733120.104109589 required_funding_total
160000.0 funding_so_far

7.0 employees
1358.6712328767123 daily_income_for_company
907592.3835616439 required_funding_total
130000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
683174.1287671232 required_funding_total
50000.0 funding_so_far

6.0 employees
816.6904109589041 daily_income_for_company
761155.4630136986 required_funding_total
300000.0 funding_so_far

7.0 employees
2217.945205479452 daily_income_for_company
995857.3972602739 required_funding_total
30000.0 funding_so_far

7.0 employees
1571.7397260273974 daily_income_for_company
572113.2602739726 required_funding_total
150000.0 funding_so_far

5.0 employees
1021.013698630137 daily_income_for_company
824979.0684931508 required_funding_total
40000.0 funding_so_far

11.0 employees
3820.4958904109585 daily_income_for_company
4030623.1643835614 required_funding_total
1000000.0 funding_so_far

5.0 employees
832.3013698630137 daily_income_for_company
1564726.575342466 required_funding_total
200000.0 funding_so_far

7.0 employees
2198.786301369863 daily_income_for_company
1070808.9287671233 required_funding_total
100000.0 funding_so_far

7.0 employees
1478.3616438356166 daily_income_for_company
798315.287671233 required_funding_total
360000.0 funding_so_far

7.0 employees
1429.4191780821918 daily_income_for_company
1134958.8273972603 required_funding_total
250000.0 funding_so_far

7.0 employees
2535.1890410958904 daily_income_for_company
3032086.093150685 required_funding_total
100000.0 funding_so_far

7.0 employees
1509.372602739726 daily_income_for_company
1109388.8630136987 required_funding_total
320000.0 funding_so_far

7.0 employees
1764.364383561644 daily_income_for_company
7198606.684931507 required_funding_total
3000000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
211942.701369863 required_funding_total
40000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
1040564.1534246575 required_funding_total
20000.0 funding_so_far

11.0 employees
1497.2657534246575 daily_income_for_company
1724850.1479452054 required_funding_total
60000.0 funding_so_far

10.0 employees
3892.3561643835615 daily_income_for_company
2619555.698630137 required_funding_total
1700000.0 funding_so_far

11.0 employees
3485.342465753424 daily_income_for_company
8159186.7123287665 required_funding_total
500000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
852280.2246575343 required_funding_total
20000.0 funding_so_far

45.0 employees
6125.178082191781 daily_income_for_company
7570720.109589041 required_funding_total
1000000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1136373.6328767124 required_funding_total
1000000.0 funding_so_far

2.0 employees
290.2027397260274 daily_income_for_company
576342.6410958904 required_funding_total
20000.0 funding_so_far

7.0 employees
1429.4191780821918 daily_income_for_company
1022034.7123287672 required_funding_total
510000.0 funding_so_far

2.0 employees
694.6356164383561 daily_income_for_company
1328837.9342465752 required_funding_total
960000.0 funding_so_far

7.0 employees
1606.8739726027397 daily_income_for_company
2439234.690410959 required_funding_total
460000.0 funding_so_far

11.0 employees
1381.6602739726027 daily_income_for_company
2496660.115068493 required_funding_total
910000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1677503.9342465755 required_funding_total
100000.0 funding_so_far

3.0 employees
740.441095890411 daily_income_for_company
177705.86301369863 required_funding_total
100000.0 funding_so_far

7.0 employees
869.668493150685 daily_income_for_company
1498438.8136986303 required_funding_total
950000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
468979.59452054795 required_funding_total
130000.0 funding_so_far

4.0 employees
858.9369863013699 daily_income_for_company
2960755.791780822 required_funding_total
1000000.0 funding_so_far

7.0 employees
1606.8739726027397 daily_income_for_company
6377682.797260274 required_funding_total
100000.0 funding_so_far

4.0 employees
1131.5835616438355 daily_income_for_company
869056.1753424658 required_funding_total
390000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
656430.6575342466 required_funding_total
300000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1337794.3561643835 required_funding_total
120000.0 funding_so_far

11.0 employees
3565.386301369863 daily_income_for_company
14136756.684931505 required_funding_total
250000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
1517819.1287671232 required_funding_total
360000.0 funding_so_far

3.0 employees
408.34520547945203 daily_income_for_company
320550.98630136985 required_funding_total
40000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
2630585.0794520546 required_funding_total
30000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
877833.6 required_funding_total
40000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
3770829.443835616 required_funding_total
10000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
1296768.2575342467 required_funding_total
1020000.0 funding_so_far

7.0 employees
2431.2246575342465 daily_income_for_company
4925661.1561643835 required_funding_total
330000.0 funding_so_far

5.0 employees
1411.8356164383563 daily_income_for_company
1013697.9726027398 required_funding_total
580000.0 funding_so_far

69.0 employees
14816.66301369863 daily_income_for_company
15261162.904109588 required_funding_total
6000000.0 funding_so_far

7.0 employees
1275.1698630136987 daily_income_for_company
2537588.0273972605 required_funding_total
230000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1204014.9205479452 required_funding_total
10000.0 funding_so_far

60.0 employees
12884.054794520547 daily_income_for_company
21490603.39726027 required_funding_total
15000000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1085266.8821917807 required_funding_total
20000.0 funding_so_far

7.0 employees
1676.4712328767123 daily_income_for_company
1091382.7726027397 required_funding_total
900000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
698406.4164383562 required_funding_total
420000.0 funding_so_far

16.0 employees
3435.7479452054795 daily_income_for_company
3947674.389041096 required_funding_total
2000000.0 funding_so_far

1.0 employees
204.2027397260274 daily_income_for_company
247493.7205479452 required_funding_total
20000.0 funding_so_far

7.0 employees
1015.7095890410959 daily_income_for_company
395111.0301369863 required_funding_total
100000.0 funding_so_far

7.0 employees
1101.8575342465754 daily_income_for_company
712901.8246575342 required_funding_total
250000.0 funding_so_far

7.0 employees
1980.2712328767122 daily_income_for_company
2071363.709589041 required_funding_total
30000.0 funding_so_far

7.0 employees
1979.9260273972604 daily_income_for_company
457362.9123287672 required_funding_total
350000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
455451.33698630135 required_funding_total
200000.0 funding_so_far

2.0 employees
357.7150684931507 daily_income_for_company
318366.41095890413 required_funding_total
120000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
764149.9945205479 required_funding_total
380000.0 funding_so_far

7.0 employees
1503.1397260273973 daily_income_for_company
1546730.7780821917 required_funding_total
120000.0 funding_so_far

7.0 employees
1759.5698630136985 daily_income_for_company
779489.4493150684 required_funding_total
120000.0 funding_so_far

11.0 employees
2362.076712328767 daily_income_for_company
3240769.249315068 required_funding_total
1960000.0 funding_so_far

7.0 employees
1935.7205479452055 daily_income_for_company
168407.68767123288 required_funding_total
20000.0 funding_so_far

7.0 employees
1606.8739726027397 daily_income_for_company
711845.1698630137 required_funding_total
20000.0 funding_so_far

1.0 employees
283.4438356164384 daily_income_for_company
459179.01369863015 required_funding_total
10000.0 funding_so_far

11.0 employees
2750.5726027397263 daily_income_for_company
2313231.55890411 required_funding_total
750000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
1108112.7726027397 required_funding_total
540000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
515467.7643835616 required_funding_total
50000.0 funding_so_far

6.0 employees
1288.4054794520548 daily_income_for_company
1462340.2191780822 required_funding_total
380000.0 funding_so_far

7.0 employees
952.8054794520548 daily_income_for_company
868958.597260274 required_funding_total
590000.0 funding_so_far

11.0 employees
2362.076712328767 daily_income_for_company
2253421.1835616436 required_funding_total
820000.0 funding_so_far

4.0 employees
1389.2712328767122 daily_income_for_company
1469848.9643835616 required_funding_total
500000.0 funding_so_far

In [195]:
imputed_final_df['vc_invest']=vc_invest

In [196]:
imputed_final_df= imputed_final_df[imputed_final_df['vc_invest']!='NaN']

In [198]:
imputed_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327 entries, 0 to 1177
Data columns (total 22 columns):
Company ID                     327 non-null object
Description                    327 non-null object
Company Name                   327 non-null object
HQ Post Code                   327 non-null object
Primary Industry Code          327 non-null object
Primary Contact                327 non-null object
Year Founded                   327 non-null float64
Active Investors               189 non-null object
HQ Location                    327 non-null object
Growth Rate                    327 non-null float64
Size Multiple                  327 non-null float64
Last Financing Date            327 non-null datetime64[ns]
Last Financing Size            327 non-null float64
Last Financing Valuation       47 non-null float64
Last Financing Deal Type 2     194 non-null object
Majestic Referring Domains     327 non-null float64
Facebook Likes                 327 non-null float64
Twitter Followers              327 non-null float64
Employees                      327 non-null float64
Total Raised                   327 non-null float64
days_since_offer               327 non-null int64
vc_invest                      327 non-null object
dtypes: datetime64[ns](1), float64(10), int64(1), object(10)
memory usage: 58.8+ KB

# Use Tweepy to find the usernames of founders

In [199]:
def username_search(name, company, state, c = 20):
    """Run a search on twitter for the given name. Returns the first username (should be the most relevant).
    Looks to match a state location with the state locatio nof the company

    First try searching for the person's name + company. If that does not work, try just searching for the 
    person's name.
    
    Count is for the number of results to return. Default to twenty. If not in the first twenty results, probably not
    the correct user"""
    state = state.lower()
    
    credentials = yaml.load(open(os.path.expanduser('~/.ssh/api_credentials.yml')))
    auth = tweepy.OAuthHandler(credentials['twitter']['consumer_key'], credentials['twitter']['consumer_secret'],)
    auth.set_access_token(credentials['twitter']['token'], credentials['twitter']['token_secret'])
    api = tweepy.API(auth,wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
    tweets = api.search_users(q=str(name)+" "+str(company), count=c)
    

    try: # search the name and the company
        test = result[0].screen_name
        screen_n = None
        
        for result in tweets:
            location = result.location.lower().split(" ") # see if the location is in the companies state
            if state in location:
                return result.screen_name

        if screen_n == None:
            return 'NaN'
        else:
            return screen_n
            
    except Exception as e: # try just the name
        try:

            tweets = api.search_users(q=name, count = c)
            
            screen_n = None
            for result in tweets:
                if state in result.location.lower().split(" "):

                    return result.screen_name
            if screen_n == None:
                return "NaN"
            else:
                return screen_n
            

        except Exception as e:
            return "NaN"

In [206]:
twitter_usernames_accel_incub_df = []
for idx,row in enumerate(imputed_final_df.iterrows()):
    location = row[1]['HQ Location'].split(",")[1].strip(" ")
    company = row[1]['Company Name']
    founder = row[1]['Primary Contact']

    twitter_usernames_accel_incub_df.append(username_search(founder,company, location ))
    if idx%100 ==0:
        print(f"Finished {idx/len(imputed_final_df)}")

Finished 0
Finished 100
Finished 200
Finished 300

In [207]:
imputed_final_df['Twitter_Username'] = twitter_usernames_accel_incub_df

# Drop NaN Usernames

In [208]:
finished_acc_incub_df =  imputed_final_df[
        (imputed_final_df.Twitter_Username!='NaN') ]

In [209]:
finished_acc_incub_df .info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 0 to 1171
Data columns (total 23 columns):
Company ID                     98 non-null object
Description                    98 non-null object
Company Name                   98 non-null object
HQ Post Code                   98 non-null object
Primary Industry Code          98 non-null object
Primary Contact                98 non-null object
Year Founded                   98 non-null float64
Active Investors               59 non-null object
HQ Location                    98 non-null object
Growth Rate                    98 non-null float64
Size Multiple                  98 non-null float64
Last Financing Date            98 non-null datetime64[ns]
Last Financing Size            98 non-null float64
Last Financing Valuation       17 non-null float64
Last Financing Deal Type 2     57 non-null object
Majestic Referring Domains     98 non-null float64
Facebook Likes                 98 non-null float64
Twitter Followers              98 non-null float64
Employees                      98 non-null float64
Total Raised                   98 non-null float64
days_since_offer               98 non-null int64
vc_invest                      98 non-null object
Twitter_Username               98 non-null object
dtypes: datetime64[ns](1), float64(10), int64(1), object(11)
memory usage: 18.4+ KB

In [210]:
finished_acc_incub_df.to_csv("../data/processed/PitchBook_CA_VCInvest=0.csv")