In [205]:
import pandas as pd
import datetime
import yaml
import os
import tweepy

# Read in Data

In [12]:
acc_incub_general_info_df = pd.read_excel("../data/raw/CA_Accel-Incub-Seed_PitchBook/Company_General_Information.xlsx",header=6)
acc_incub_general_info_df.head(2)
# interesting columns= Company ID (primary key), Description, Company Name, HQ Post Code, 
#Primary Industry Code, Primary Contact, Year Founded, Active Investors

,Company ID,Company Name,HQ Post Code,Description,Primary Industry Code,HQ Location,Ownership Status,Company Financing Status,Active Investors,Website,HQ Email,HQ Phone,Primary Contact,Primary Contact Title,Primary Contact Email,Primary Contact Phone,Year Founded,PitchBook Link
0,170123-59,Zyudly Labs,94306,Provider of cyber-security analytics and intel...,Network Management Software,"Palo Alto, CA",Privately Held (backing),Accelerator/Incubator Backed,"500 Startups, Start Smart Labs",www.zyudlylabs.com,info@zyudlylabs.com,NaN,Vivek Ganesan,"Co-Founder, Chief Executive Officer & Board Me...",vivek@zyudlylabs.com,NaN,2016.0,NaN
1,103815-46,Zymr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
acc_incub_last_financing_df = pd.read_excel("../data/raw/CA_Accel-Incub-Seed_PitchBook/Last_Financing_Details.xlsx",header=6)
acc_incub_last_financing_df .head(2)
# interesting columns = Company ID ( primary key), Company Name, Growth Rate, Size Multiple, last financing date,
# last financing Size, Last financing valuation, Last Financing Deal Type 2

# Note : Only want series A or later, filter OUT the seed rounds

,Company ID,Company Name,Revenue,Growth Rate,Size Multiple,Last Financing Date,Last Financing Deal Type,Last Financing Deal Type 2,Last Financing Size,Last Financing Valuation,...,Ownership Status,Company Financing Status,Financing Status Note,Active Investors,Acquirers,Primary Industry Code,Description,HQ Location,Website,PitchBook Link
0,170123-59,Zyudly Labs,NaN,0.118048,0.469278,2017-02-08,Accelerator/Incubator,NaN,0.15,2.5,...,Privately Held (backing),Accelerator/Incubator Backed,The company joined 500 Startups as a part of i...,"500 Startups, Start Smart Labs",NaN,Network Management Software,Provider of cyber-security analytics and intel...,"Palo Alto, CA",www.zyudlylabs.com,NaN
1,103815-46,Zymr,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
acc_incub_company_financials_df = pd.read_excel("../data/raw/CA_Accel-Incub-Seed_PitchBook/Public_Company_Financials.xlsx",header=6)
acc_incub_company_financials_df.head(2)
# Interesting columns are NOTHING

,Company ID,Company Name,Exchange,Ticker,Fiscal Period,Revenue,Gross Profit,EBITDA,Net Income,Enterprise Value,Ownership Status,Company Financing Status,Last Financing Date,Last Financing Deal Type,Last Financing Size,PitchBook Link
0,170123-59,Zyudly Labs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Privately Held (backing),Accelerator/Incubator Backed,2017-02-08,Accelerator/Incubator,0.15,NaN
1,103815-46,Zymr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [11]:
acc_incub_social_web_df =  pd.read_excel("../data/raw/CA_Accel-Incub-Seed_PitchBook/Social_and_Web_Presence.xlsx",header=6)
acc_incub_social_web_df.head(2)
# interesting columns = company id (primary key), company name, growth rate, size multiple, majestic referring domains
# facebook likes, Tiwtter followers, Employees, Total raised

,Company ID,Company Name,Growth Rate,Size Multiple,Compete Unique Visitors,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised,Primary Industry Code,Description,Active Investors,Company Financing Status,Ownership Status,HQ Location,Website,PitchBook Link
0,170123-59,Zyudly Labs,0.118048,0.469278,NaN,29.0,103.0,6.0,NaN,0.37,Network Management Software,Provider of cyber-security analytics and intel...,"500 Startups, Start Smart Labs",Accelerator/Incubator Backed,Privately Held (backing),"Palo Alto, CA",www.zyudlylabs.com,NaN
1,103815-46,Zymr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Join Dataframes together

In [14]:
acc_incub_general_info_colDrop_df = vc_general_info_df[["Company ID", "Description", "Company Name", "HQ Post Code", "Primary Industry Code",
                                         "Primary Contact", "Year Founded", "Active Investors","HQ Location"]]
acc_incub_last_financing_colDrop_df =vc_last_financing_df[["Company ID", "Growth Rate", "Size Multiple",
                                    "Last Financing Date","Last Financing Size","Last Financing Valuation",
                                                   "Last Financing Deal Type 2 "]]
acc_incub_social_web_colDrop_df  =vc_social_web_df [["Company ID",  "Growth Rate", 
                                              "Size Multiple", "Majestic Referring Domains",
        "Facebook Likes", "Twitter Followers", "Employees", "Total Raised"]]
final_acc_incub_df = acc_incub_general_info_colDrop_df.merge(acc_incub_last_financing_colDrop_df, on='Company ID').merge(acc_incub_social_web_colDrop_df, 
                                                                                     on='Company ID')

In [15]:
final_acc_incub_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1195 entries, 0 to 1194
Data columns (total 22 columns):
Company ID                     1187 non-null object
Description                    1000 non-null object
Company Name                   1186 non-null object
HQ Post Code                   804 non-null object
Primary Industry Code          1000 non-null object
Primary Contact                956 non-null object
Year Founded                   935 non-null float64
Active Investors               681 non-null object
HQ Location                    1000 non-null object
Growth Rate_x                  897 non-null float64
Size Multiple_x                897 non-null float64
Last Financing Date            874 non-null datetime64[ns]
Last Financing Size            655 non-null float64
Last Financing Valuation       119 non-null float64
Last Financing Deal Type 2     547 non-null object
Growth Rate_y                  897 non-null float64
Size Multiple_y                897 non-null float64
Majestic Referring Domains     828 non-null float64
Facebook Likes                 596 non-null float64
Twitter Followers              678 non-null float64
Employees                      418 non-null float64
Total Raised                   683 non-null float64
dtypes: datetime64[ns](1), float64(12), object(9)
memory usage: 214.7+ KB

## Drop Excess Columns

In [16]:
final_acc_incub_df .drop([
                  'Growth Rate_y','Size Multiple_y'],axis=1,inplace=True)
final_acc_incub_df.rename(columns={'Growth Rate_x':'Growth Rate',"Size Multiple_x":'Size Multiple',
                           "Company Name_x":"Company Name"},inplace=True) # rename cols

# Filter out Series A-F Rounds

In [17]:
final_acc_incub_df['Last Financing Deal Type 2 '].unique()

array([nan, 'Angel', 'Seed', 'Series A', 'Series AA', 'Series B',
       'Series A1', 'Series 2', 'Series A2', 'Series B1', 'Series C',
       'Acquisition Financing', 'Corporate', 'Series A3'], dtype=object)

In [26]:
final_acc_incub_filter_df= final_acc_incub_df.loc[(final_acc_incub_df['Last Financing Deal Type 2 ']!='Series A') & 
                (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series AA') &
                   (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series B') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series A1') &
             (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series 2') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series A2') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series B1') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series C') &
            (final_acc_incub_df['Last Financing Deal Type 2 ']!='Series A3'),: ]

In [27]:
final_acc_incub_filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1137 entries, 0 to 1194
Data columns (total 20 columns):
Company ID                     1129 non-null object
Description                    942 non-null object
Company Name                   1128 non-null object
HQ Post Code                   749 non-null object
Primary Industry Code          942 non-null object
Primary Contact                898 non-null object
Year Founded                   881 non-null float64
Active Investors               647 non-null object
HQ Location                    942 non-null object
Growth Rate                    844 non-null float64
Size Multiple                  844 non-null float64
Last Financing Date            819 non-null datetime64[ns]
Last Financing Size            606 non-null float64
Last Financing Valuation       89 non-null float64
Last Financing Deal Type 2     489 non-null object
Majestic Referring Domains     777 non-null float64
Facebook Likes                 564 non-null float64
Twitter Followers              638 non-null float64
Employees                      386 non-null float64
Total Raised                   628 non-null float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 186.5+ KB

# Drop companies missing the zip code, year founded, and primary contact
- ALso drop if we don't have the last financing date. Need this to determine the 'runway' for each company
- Also drop if don't have the last financing size. Need this to calculate 'runway"
- Can't impute this

In [32]:
final_acc_incub_filter_df = final_acc_incub_filter_df.loc[
    (final_acc_incub_filter_df['HQ Post Code'].isnull()==False) &
    (final_acc_incub_filter_df['Year Founded'].isnull()==False) &
    (final_acc_incub_filter_df['Primary Contact'].isnull()==False) &
    (final_acc_incub_filter_df['Last Financing Date'].isnull()==False)  &
    (final_acc_incub_filter_df['Last Financing Size'].isnull()==False),: ]

In [33]:
final_acc_incub_filter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 1179
Data columns (total 20 columns):
Company ID                     463 non-null object
Description                    463 non-null object
Company Name                   463 non-null object
HQ Post Code                   463 non-null object
Primary Industry Code          463 non-null object
Primary Contact                463 non-null object
Year Founded                   463 non-null float64
Active Investors               248 non-null object
HQ Location                    463 non-null object
Growth Rate                    409 non-null float64
Size Multiple                  409 non-null float64
Last Financing Date            463 non-null datetime64[ns]
Last Financing Size            463 non-null float64
Last Financing Valuation       59 non-null float64
Last Financing Deal Type 2     301 non-null object
Majestic Referring Domains     380 non-null float64
Facebook Likes                 277 non-null float64
Twitter Followers              318 non-null float64
Employees                      202 non-null float64
Total Raised                   428 non-null float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 76.0+ KB

# Impute missing values
- Growth Rate : impute median
- Size Multiple: imput median
- Last Financing Size : impute median
- Last Financing Valuation: Drop this ( too many nulls)
- Majestic Referring Domains: Impute Median
- Facebook Like: Impute median
- Twitter followers: impute emdian
- Employees: impute median (even though we will use this to calculate VC invest = 0, 7 employees is conservative)
- Total raised: impute median

In [36]:
final_acc_incub_filter_df.describe()

,Year Founded,Growth Rate,Size Multiple,Last Financing Size,Last Financing Valuation,Majestic Referring Domains,Facebook Likes,Twitter Followers,Employees,Total Raised
count,463.000000,409.000000,409.000000,463.000000,59.000000,380.000000,2.770000e+02,318.000000,202.000000,428.000000
mean,2011.384449,0.114040,13.366262,0.992743,3.487458,255.634211,3.139754e+04,6192.440252,12.836634,1.604042
std,6.530907,0.736849,89.906664,2.354893,3.587065,2134.617182,1.977533e+05,29273.074244,22.182823,3.746791
min,1906.000000,-4.113173,0.002825,0.010000,0.250000,1.000000,1.000000e+00,1.000000,1.000000,0.010000
25%,2011.000000,-0.008218,0.270270,0.090000,1.710000,8.000000,1.560000e+02,85.500000,3.250000,0.120000
50%,2013.000000,0.000000,0.906016,0.300000,2.500000,25.000000,8.160000e+02,425.500000,7.000000,0.465000
75%,2014.000000,0.077603,3.731261,1.000000,4.260000,68.000000,4.185000e+03,1789.500000,11.000000,1.500000
max,2017.000000,6.007684,1498.019287,28.590000,20.320000,38824.000000,2.502721e+06,304832.000000,227.000000,45.960000

In [34]:
median_values={}
for row in final_acc_incub_filter_df.describe(): # get median values
    if row =='Last Financing Valuation': # don't have enough data for this
        pass
    else:
        median_values[row]=final_acc_incub_filter_df.describe()[row]["50%"]

In [35]:
median_values

{'Employees': 7.0,
 'Facebook Likes': 816.0,
 'Growth Rate': 0.0,
 'Last Financing Size': 0.29999999999999999,
 'Majestic Referring Domains': 25.0,
 'Size Multiple': 0.90601639907093101,
 'Total Raised': 0.46499999999999997,
 'Twitter Followers': 425.5,
 'Year Founded': 2013.0}

In [37]:
imputed_final_df = final_acc_incub_filter_df.copy()
for key in median_values: # update the nan values with the median
    updated_col = final_acc_incub_filter_df.loc[:,key].copy()
    updated_col = updated_col.fillna(median_values[key])
    imputed_final_df.loc[:,key] = updated_col

In [40]:
imputed_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 1179
Data columns (total 20 columns):
Company ID                     463 non-null object
Description                    463 non-null object
Company Name                   463 non-null object
HQ Post Code                   463 non-null object
Primary Industry Code          463 non-null object
Primary Contact                463 non-null object
Year Founded                   463 non-null float64
Active Investors               248 non-null object
HQ Location                    463 non-null object
Growth Rate                    463 non-null float64
Size Multiple                  463 non-null float64
Last Financing Date            463 non-null datetime64[ns]
Last Financing Size            463 non-null float64
Last Financing Valuation       59 non-null float64
Last Financing Deal Type 2     301 non-null object
Majestic Referring Domains     463 non-null float64
Facebook Likes                 463 non-null float64
Twitter Followers              463 non-null float64
Employees                      463 non-null float64
Total Raised                   463 non-null float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 76.0+ KB

# Determine How many companies are past their 'runway'
- Read in the median family income for all CA counties
- Last Financing Size is based on millions of dollars
- i.e. have spend more then their funding for the past number of months for the number of employees

### Load in median income for palces in california

In [55]:
ca_income = pd.read_csv("../data/raw/median_income_tables/ca_income_by_county.csv")

In [56]:
ca_income.median_household_income[ca_income.median_household_income!="[7"].describe()

count        1442
unique       1385
top       $42,500
freq            4
Name: median_household_income, dtype: object

In [102]:
# For places without median income information, fill in with the median of CA

In [57]:
ca_income.median_household_income = ca_income.median_household_income.replace("[7","$42,500")

In [69]:
ca_income.median_household_income = \
    ca_income.median_household_income.apply( lambda x: int(x.strip("$").replace(",",""))) # conver to numbers

In [70]:
ca_income.median_household_income.describe()

count      1516.000000
mean      59873.567282
std       31285.114145
min        4853.000000
25%       39736.000000
50%       52148.000000
75%       74222.250000
max      245694.000000
Name: median_household_income, dtype: float64

#### Find the number of days since the offer
- Use the date the data was pulledd

In [159]:
date_pulled = datetime.datetime(2017,6,9)

In [160]:
imputed_final_df["days_since_offer"]=  imputed_final_df["Last Financing Date"].apply(
    lambda x: (date_pulled - x).days)

In [161]:
imputed_final_df["days_since_offer"].head()

0    121
2    240
3    750
5    902
8    134
Name: days_since_offer, dtype: int64

### Determine the number of days of 'runway' that the last financing size gives the company
- Based on the number of employees and median income of location

In [155]:
imputed_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 1179
Data columns (total 21 columns):
Company ID                     463 non-null object
Description                    463 non-null object
Company Name                   463 non-null object
HQ Post Code                   463 non-null object
Primary Industry Code          463 non-null object
Primary Contact                463 non-null object
Year Founded                   463 non-null float64
Active Investors               248 non-null object
HQ Location                    463 non-null object
Growth Rate                    463 non-null float64
Size Multiple                  463 non-null float64
Last Financing Date            463 non-null datetime64[ns]
Last Financing Size            463 non-null float64
Last Financing Valuation       59 non-null float64
Last Financing Deal Type 2     301 non-null object
Majestic Referring Domains     463 non-null float64
Facebook Likes                 463 non-null float64
Twitter Followers              463 non-null float64
Employees                      463 non-null float64
Total Raised                   463 non-null float64
days_since_offer               463 non-null int64
dtypes: datetime64[ns](1), float64(10), int64(1), object(9)
memory usage: 99.6+ KB

In [146]:
t = ca_income[ca_income.Place=="Mountain View"]['median_household_income'].values

In [194]:
vc_invest = []
for row in imputed_final_df.iterrows():
    row = row[1]
    place = row['HQ Location'].split(",")[0]
    state = row['HQ Location'].split(",")[1]
    try:
        median_yr_income = int(ca_income[ca_income.Place==place]['median_household_income'].values) # median year income
        daily_income = median_yr_income/365
   

        daily_income_for_company = row['Employees'] * daily_income

        required_funding_daily = daily_income_for_company * (row['days_since_offer'])
        funding_so_far = row['Last Financing Size']*1_000_000
        if required_funding_daily > funding_so_far:
            vc_invest.append(0)
        else:
            vc_invest.append('NaN')
    except Exception as e:
        if state == "CA":
            median_yr_income = int(ca_income[ca_income.Place==place]['median_household_income'].values[1]) # median year income
            daily_income = median_yr_income/365
            daily_income_for_company = row['Employees'] * daily_income
            required_funding_daily = daily_income_for_company *row['days_since_offer']
            funding_so_far = row['Last Financing Size']*1_000_000
            if required_funding_daily < funding_so_far:
                vc_invest.append(0)
            else:
                vc_invest.append('NaN')
        else:
            vc_invest.append('NaN')

In [195]:
imputed_final_df['vc_invest']=vc_invest

In [196]:
imputed_final_df= imputed_final_df[imputed_final_df['vc_invest']!='NaN']

In [198]:
imputed_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327 entries, 0 to 1177
Data columns (total 22 columns):
Company ID                     327 non-null object
Description                    327 non-null object
Company Name                   327 non-null object
HQ Post Code                   327 non-null object
Primary Industry Code          327 non-null object
Primary Contact                327 non-null object
Year Founded                   327 non-null float64
Active Investors               189 non-null object
HQ Location                    327 non-null object
Growth Rate                    327 non-null float64
Size Multiple                  327 non-null float64
Last Financing Date            327 non-null datetime64[ns]
Last Financing Size            327 non-null float64
Last Financing Valuation       47 non-null float64
Last Financing Deal Type 2     194 non-null object
Majestic Referring Domains     327 non-null float64
Facebook Likes                 327 non-null float64
Twitter Followers              327 non-null float64
Employees                      327 non-null float64
Total Raised                   327 non-null float64
days_since_offer               327 non-null int64
vc_invest                      327 non-null object
dtypes: datetime64[ns](1), float64(10), int64(1), object(10)
memory usage: 58.8+ KB

# Use Tweepy to find the usernames of founders

In [199]:
def username_search(name, company, state, c = 20):
    """Run a search on twitter for the given name. Returns the first username (should be the most relevant).
    Looks to match a state location with the state locatio nof the company

    First try searching for the person's name + company. If that does not work, try just searching for the 
    person's name.
    
    Count is for the number of results to return. Default to twenty. If not in the first twenty results, probably not
    the correct user"""
    state = state.lower()
    
    credentials = yaml.load(open(os.path.expanduser('~/.ssh/api_credentials.yml')))
    auth = tweepy.OAuthHandler(credentials['twitter']['consumer_key'], credentials['twitter']['consumer_secret'],)
    auth.set_access_token(credentials['twitter']['token'], credentials['twitter']['token_secret'])
    api = tweepy.API(auth,wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
    tweets = api.search_users(q=str(name)+" "+str(company), count=c)
    

    try: # search the name and the company
        test = result[0].screen_name
        screen_n = None
        
        for result in tweets:
            location = result.location.lower().split(" ") # see if the location is in the companies state
            if state in location:
                return result.screen_name

        if screen_n == None:
            return 'NaN'
        else:
            return screen_n
            
    except Exception as e: # try just the name
        try:

            tweets = api.search_users(q=name, count = c)
            
            screen_n = None
            for result in tweets:
                if state in result.location.lower().split(" "):

                    return result.screen_name
            if screen_n == None:
                return "NaN"
            else:
                return screen_n
            

        except Exception as e:
            return "NaN"

In [206]:
twitter_usernames_accel_incub_df = []
for idx,row in enumerate(imputed_final_df.iterrows()):
    location = row[1]['HQ Location'].split(",")[1].strip(" ")
    company = row[1]['Company Name']
    founder = row[1]['Primary Contact']

    twitter_usernames_accel_incub_df.append(username_search(founder,company, location ))
    if idx%100 ==0:
        print(f"Finished {idx}")

Finished 0
Finished 100
Finished 200
Finished 300

In [207]:
imputed_final_df['Twitter_Username'] = twitter_usernames_accel_incub_df

# Drop NaN Usernames

In [208]:
finished_acc_incub_df =  imputed_final_df[
        (imputed_final_df.Twitter_Username!='NaN') ]

In [209]:
finished_acc_incub_df .info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98 entries, 0 to 1171
Data columns (total 23 columns):
Company ID                     98 non-null object
Description                    98 non-null object
Company Name                   98 non-null object
HQ Post Code                   98 non-null object
Primary Industry Code          98 non-null object
Primary Contact                98 non-null object
Year Founded                   98 non-null float64
Active Investors               59 non-null object
HQ Location                    98 non-null object
Growth Rate                    98 non-null float64
Size Multiple                  98 non-null float64
Last Financing Date            98 non-null datetime64[ns]
Last Financing Size            98 non-null float64
Last Financing Valuation       17 non-null float64
Last Financing Deal Type 2     57 non-null object
Majestic Referring Domains     98 non-null float64
Facebook Likes                 98 non-null float64
Twitter Followers              98 non-null float64
Employees                      98 non-null float64
Total Raised                   98 non-null float64
days_since_offer               98 non-null int64
vc_invest                      98 non-null object
Twitter_Username               98 non-null object
dtypes: datetime64[ns](1), float64(10), int64(1), object(11)
memory usage: 18.4+ KB

In [210]:
finished_acc_incub_df.to_csv("../data/processed/PitchBook_CA_VCInvest=0.csv")